<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>数据导出</title>
<base href="<%=basePath%>" /> 
	<link rel="stylesheet"  href="/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/static/common/css/base.css" />
    <link rel="stylesheet" href="/static/common/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/static/common/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/static/manage/css/home.css">
    <link rel="stylesheet" href="/static/manage/css/team/teamList.css">
    <link rel="stylesheet" href="/static/manage/css/team/teamcommon.css">
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/highcharts.js"></script>
	<script src="/static/common/js/highcharts-more.js"></script>
    <script src="/static/common/js/jquery.cookie.js"></script>
    <script src="static/common/js/jquery.datetimepicker.full.min.js"></script> 
	<script src="static/common/js/jquery.dataTables.min.js"></script>
    <script src="/static/manage/js/jquery.form.js"></script>
    <script src="/static/manage/js/jquery.divscroll.js"></script>
    <script src="/static/common/js/semantic.min.js"></script>
    <!-- 全局工具脚本-->
    <script src="/static/common/js/tools.js"></script>
	<style>
		body {
		  background: #060e1b;
		  overflow: hidden;
		}
		
		canvas {
		  opacity: 0.5;
		}
		
		.c_box{position:fixed;top:0;left:60px;right:0;color:#ffffff;overflow:auto;}
		.intro{margin:60px auto 40px; text-align:center;}
		.intro span{padding:8px 24px;border:1px solid #cccccc;color:#cccccc;margin:0 6px; border-radius:3px; font-size:16px;}
		.container{width:100%;height:400px;margin-top:60px;}
	</style>
	
</head>
<body>
	
<div class="fl mainleft"></div>
<div class="fl main">
	<canvas id="canvas"></canvas>
	<div class="c_box">
		<div class="container" id="container">
			<div class="loding-panel">
				<div class="loding-icon" style="text-align:center; padding-top:100px"><i class="huge white spinner loading icon"></i></div>
			</div>
		</div>
		<div class="intro">
			<span>总数据量：<i id="deviceDataCount">计算中...</i></span>
			<span>mysql大小：<i id="mysqlSize">计算中...</i></span>
			<span>mongodb大小：<i id="mongodbSize">计算中...</i></span>
			<br><br><br>
			<span>问卷数量：<i id="surveyCount">计算中...</i></span>
			<span>用户数量：<i id="userCount">计算中...</i></span>
			<span>设备数量：<i id="deviceCount">计算中...</i></span>
			<span>建筑数量：<i id="buildingCount">计算中...</i></span>
		</div>
	</div>
</div>

<script src="/static/manage/js/team/teamCommon_manage.js"></script>
<script>
$(function(){
	$("#team").removeClass("active");
	$("#sjgl").addClass("active");
	canvas();

 	// 获取前100数据
	$.ajax({
		type: "post",
        dataType: "json",
        url: '/admin/getDeviceDataCountList',
        success: function (data) {
        	showCharts(data);
        }
	});
	
	// 获取总数
	$.ajax({
		type: "post",
        dataType: "json",
        url: '/admin/getCount',
        success: function (data) {
        	showData(data);
        }		
	});

});

function showData(data){
	if(data.code==200){
		$("#deviceDataCount").text(data.deviceDataCount + "条");
		$("#mysqlSize").text(data.mysqlSize + "G");
		$("#mongodbSize").text(data.mongodbSize + "G");
		$("#surveyCount").text(data.surveyCount + "个");
		$("#userCount").text(data.userCount + "个");
		$("#deviceCount").text(data.deviceCount + "个");
		$("#buildingCount").text(data.buildingCount + "个");
	}
}

function showCharts(data){
	var data = data.list;
	$('#container').highcharts({
        chart: {
            type: 'column',
            backgroundColor: 'rgba(0,0,0,0)',
        },
        title: {
            text: 'IBEM页面概览',
            style: {
                color: '#ffffff',
            }
        },
        subtitle: {
            text: '数据量前100的设备统计',
            style: {
                color: '#ffffff',
            }
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: 90,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    color: '#ffffff',
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '数量',
                style: {
                    color: '#ffffff'
                }
            },
            labels: {
                style: {
                    color: '#ffffff'
                }
            }
        },
        credits: {
	        enabled: false
	    },
        legend: {
            enabled: false,
        },
        tooltip: {
            pointFormat: '数据量: <b>{point.y:.1f}</b>'
        },
        series: [{
            name: '数据量前100的设备统计',
            data: data,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
}

function canvas(){

	var canvas = document.getElementById('canvas'),
	  ctx = canvas.getContext('2d'),
	  w = canvas.width = window.innerWidth,
	  h = canvas.height = window.innerHeight,

	  hue = 217,
	  stars = [],
	  count = 0,
	  maxStars = 1200;

	var canvas2 = document.createElement('canvas'),
	ctx2 = canvas2.getContext('2d');
	canvas2.width = 100;
	canvas2.height = 100;
	var half = canvas2.width / 2,
	gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
	gradient2.addColorStop(0.025, '#fff');
	gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
	gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
	gradient2.addColorStop(1, 'transparent');

	ctx2.fillStyle = gradient2;
	ctx2.beginPath();
	ctx2.arc(half, half, half, 0, Math.PI * 2);
	ctx2.fill();

	// End cache

	function random(min, max) {
	  if (arguments.length < 2) {
	    max = min;
	    min = 0;
	  }

	  if (min > max) {
	    var hold = max;
	    max = min;
	    min = hold;
	  }

	  return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	function maxOrbit(x, y) {
	  var max = Math.max(x, y),
	    diameter = Math.round(Math.sqrt(max * max + max * max));
	  return diameter / 2;
	}

	var Star = function() {

	  this.orbitRadius = random(maxOrbit(w, h));
	  this.radius = random(60, this.orbitRadius) / 12;
	  this.orbitX = w / 2;
	  this.orbitY = h / 2;
	  this.timePassed = random(0, maxStars);
	  this.speed = random(this.orbitRadius) / 900000;
	  this.alpha = random(2, 10) / 10;

	  count++;
	  stars[count] = this;
	}

	Star.prototype.draw = function() {
	  var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
	    y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
	    twinkle = random(10);

	  if (twinkle === 1 && this.alpha > 0) {
	    this.alpha -= 0.05;
	  } else if (twinkle === 2 && this.alpha < 1) {
	    this.alpha += 0.05;
	  }

	  ctx.globalAlpha = this.alpha;
	  ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
	  this.timePassed += this.speed;
	}

	for (var i = 0; i < maxStars; i++) {
	  new Star();
	}

	function animation() {
	  ctx.globalCompositeOperation = 'source-over';
	  ctx.globalAlpha = 0.8;
	  ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
	  ctx.fillRect(0, 0, w, h)

	  ctx.globalCompositeOperation = 'lighter';
	  for (var i = 1, l = stars.length; i < l; i++) {
	    stars[i].draw();
	  };

	  window.requestAnimationFrame(animation);
	}

	animation();
}
</script>
</body>
</html>