<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%> 
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><spring:message code="project.homepage" /></title>
<base href="<%=basePath%>" />
	<link rel="stylesheet"  href="/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/static/common/css/base.css" />
    <link rel="stylesheet" href="/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/static/manage/css/home.css">
    <link rel="stylesheet" href="/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/static/manage/css/team/teamContent.css">
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/jquery.cookie.js"></script>
    <script src="/static/manage/js/jquery.form.js"></script>
    <script src="/static/common/js/semantic.min.js"></script>
    <!-- 全局工具脚本-->
    <script src="/static/common/js/tools.js"></script>
    
     <!--地图渲染的核心文件 必须引用  -->
	<script src="/static/common/js/highmap/highmaps.js"></script>
	<!--地图数据拼接及解析的核心文件 必须引用  --> 
	<script src="/static/common/js/data.js"></script>
	<!--地图 展开明细的核心插件，若需要点击显示省市则需要引用，反之则不需要引用  -->
	<script src="/static/common/js/drilldown.js"></script>
	<!--中国地图主要省会的坐标及相关数据插件 必须引用  -->
	<script src="/static/common/js/cn-china.js"></script>
	
	<script src="/static/common/js/exporting.js"></script>
	<script src="/static/common/js/proj4.js"></script>
	<!-- 所有地图数据详情见：https://img.hcharts.cn/mapdata/index.html -->
	<script src="/static/common/js/gb-all.js"></script> 
    <script src="/static/manage/js/team/map.js" ></script>
</head>
<body >

<div class="clearfix" style="height:100%;" >

     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
            <a class="item" href="/redirect?url=administrator/teamBuilding.jsp"><spring:message code="project.building" /></a>
            <a class="item" href="/redirect?url=administrator/teamDevice.jsp"><spring:message code="project.device" /></a>
            <a class="item" href="/redirect?url=administrator/surveyListTeam.jsp"><spring:message code="project.survey" /></a>
            <a class="item" href="/redirect?url=administrator/teamMember.jsp"><spring:message code="project.member" /></a>
            <a class="teamTitleTit" href="/redirect?url=administrator/teamContent.jsp" style="display:block;"></a>
        </div>
            
        <!--内容区--> 
        <div class="content" id="content">
            <div class="ui grid">
                <div class="sixteen wide column content-team">
                	<div class="ui grid">
                		<div class="nine wide column mainright">
	                		<div class="div-group-base message" id="message">
		                		<div class="title">
		                			<span class="title-content"><spring:message code="project.information" /></span>
		                			<div class="edit teamcontent-edit"><spring:message code="btn.edit" /></div>
		                		</div>
		                		<div class="div-content">
		                			<div class="ui form">
		                			<div class="contentbox change-status readonly" id="image_div">
		                				<form action="/imageupload" id="formntwo" class="dynamicValue portraitForm" ENCTYPE="multipart/form-data" method="post">
											<input type="file" id="file" name="file" readonly="" class="eportrait change-status readonly"> 
											<img class="portraitStyle" id="image" src=""/>
										</form>
		                			</div>
			                			<input class="span-title change-status readonly" id="name" readonly="" type="text">
			                			<textarea class="span-content change-status readonly" id="describe"  readonly=""></textarea>
										<div class="count">
											<span id="peopleCount"></span>
										</div>
										<div class="update  change-status readonly"><button id="commitTeamUpdate"><spring:message code="btn.submit" /></button></div>
									</div>
		                		</div>
		                	</div>
		                	<div class="div-group-base table questionnaire" id="questionnaire">
		                		<div class="title">
		                			<span class="title-content" id="surveyCount"></span>
		                		</div>
		                		<div class="div-content">
		                			<table class="ui striped table" id="surveyTable">
									  <thead>
									    <tr>
									      <th width="25%"><spring:message code="survey.tdTitle" /></th>
									      <th width="45%"><spring:message code="survey.tdIntro" /></th>
									      <th width="15%"><spring:message code="survey.tdCreator" /></th>
									      <th width="15%"><spring:message code="survey.tdAnswerNum" /></th>
									    </tr>
									  </thead>
									  <tbody>
									  </tbody>
									</table>
		                		</div>
		                	</div>
	                		<div class="dissolve">
										<button id="dissolve"><spring:message code="project.delete" /></button>
							</div>
	                	</div>
	                	<div class="seven wide column mainright">
	                		<div class="div-group-base tab map" id="map">
		                		<div class="title">
		                			<span class="title-content"><spring:message code="project.map" /></span>
		                			<div class="ui tabular menu">
									  <a class="active item" id="buildingTJ"><spring:message code="project.construction_statistics" /></a>
									  <a class="item" id="deviceTJ"><spring:message code="project.device_statistics" /></a>
									</div>
		                		</div>
		                		<div class="div-content">
		                			<div class="map-panel">
		                				<div class="mapdata" id="container"></div>
		                			</div>
		                			<div class="msg-table">
		                				<table></table>
		                			</div>
		                		</div>
		                	</div>
	                	</div>
                	</div>	
                	
                	
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/manage/js/team/teamCommon_manage.js"></script>
<script src="/static/manage/js/team/teamContent_manage.js"></script>
</body>
</html>