<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>项目成员列表</title>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamMember.css">
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/manage/js/jquery.form.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
    
     <!--地图渲染的核心文件 必须引用  -->
	<script src="/public/static/common/js/highmap/highmaps.js"></script>
	<!--地图数据拼接及解析的核心文件 必须引用  --> 
	<script src="/public/static/common/js/data.js"></script>
	<!--地图 展开明细的核心插件，若需要点击显示省市则需要引用，反之则不需要引用  -->
	<script src="/public/static/common/js/drilldown.js"></script>
	<!--中国地图主要省会的坐标及相关数据插件 必须引用  -->
	<script src="/public/static/common/js/cn-china.js"></script>
	
	<script src="/public/static/common/js/exporting.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.2/proj4.js"></script>
	<!-- 所有地图数据详情见：https://img.hcharts.cn/mapdata/index.html -->
	<script src="//img.hcharts.cn/mapdata/countries/gb/gb-all.js"></script>
    <script src="/public/static/manage/js/team/map.js" ></script>
</head>
<body >

<div class="ui basic test modal addmember-modal">
	
	<i class="green close icon"></i>
		<div class="container">
			<div class="bottom">
				<div class="addMember">
	                	<div class="ui grid" style="width:100%;height:100%;margin:0;">
	                		<div class="four wide column" style="border-right:1px solid #DADADA;">
	                			<div class="searchAddMember">
	                				<div class="ui left icon input">
									  <input placeholder="输入用户ID或姓名回车" type="text" class="searchmember" id="searchAddMember">
									  <i class="search icon"></i>
									</div>
	                			</div>
	                			<button class="button-add">添加成员</button>
	                		</div>
	                		<div class="twelve wide column" style="overflow:auto">
	                			<div class="showMember">
	                				<div style="clear:both"></div>
	                			</div>
	                		</div>
	                	</div>
                	</div>
			</div>
		</div>
	</div>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
			<a class="item" href=<%="?project_name=" + projectName + "&item=building"%>>项目建筑</a>
			<a class="item" href=<%="?project_name=" + projectName + "&item=device"%>>项目设备</a>
			<a class="item" href=<%="?project_name=" + projectName + "&item=survey"%>>项目问卷</a>
			<a class="item on" href=<%="?project_name=" + projectName + "&item=member"%>>项目成员</a>
			<a class="teamTitleTit" href=<%="?project_name=" + projectName%> style="display:block;"></a>
        </div>
            
        <!--内容区--> 
        <div class="content" id="content">
            <div class="ui grid">
                <div class="sixteen wide column content-team" >
                	<div class="legend">
	                	<span><i class='green user icon'></i>创建者</span>
	                	<span><i class='red user icon'></i>管理员</span>
	                </div>
                	<div class="memberList">
                		<div class="searchMember">
                			<div class="ui left icon input" style="float:left;">
							  <input placeholder="搜索成员" type="text" class="searchmember" id="searchMember">
							  <i class="search icon"></i>
							 <!--  <h4 class="ui header title"></h4> -->
							</div>
							<div class="add btn-classic">
								<button id="addMember-button">添加成员</button>
							</div>
							<div class="addrole btn-classic">
								<button id="addrole-button">设为管理员</button>
							</div>
							<div class="deleterole btn-classic">
								<button id="deleterole-button">撤销管理员</button>
							</div>
							<div class="delete btn-classic">
								<button id="deleteMember">删除成员</button>
							</div>
							<div class="export btn-classic">
								<button id="export-button">导出成员</button>
							</div>
                		</div>
                		<div class="showMember">
                			<div style="clear:both"></div>
                		</div>
                	</div>
                	
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/static/manage/js/team/teamCommon_manage.js"></script>
<script src="/public/static/manage/js/team/teamMember_manage.js"></script>
</body>
</html>