<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 不缓存 -->
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">

<link rel="stylesheet" href="/public/static/mobile/css/base.css"/>
<!-- <script type="text/javascript" src="static/mibile/js/fontSize.js"></script> -->
<link rel="stylesheet" href="/public/static/mobile/css/index.css" />
<!-- <link rel="stylesheet"  href="/static/common/css/semantic.min.css" /> -->
<script type="text/javascript" src="/public/static/common/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/static/common/js/jquery.md5.js"></script>
<script type="text/javascript" src="/public/static/common/js/jquery.sha1.js"></script>
<script type="text/javascript" src="/public/static/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/public/static/common/js/weixin/weixin.js"></script>
<script src="/public/static/common/js/toolsMobile.js"></script> 
<script type="text/javascript" src="/public/static/mobile/js/index.js"></script>

</head>

<body>
<span id="chooseLanguage">
	<a class="chinese" data-value="language_ch">中文</a>
	<span>|</span>
	<a class="english" data-value="language_en">English</a>
</span>
<div id="banner"></div>
<div id="content">
	<!--<a id="admin_Login_link" href="/page/mobile/adminlogin">管理员入口</a>  -->
	<img id="logo" src="/public/static/mobile/img/logo.png">
	<input id="user_name" class="device_name" type="text" placeholder="用户名" />	
	<input id="user_password" class="device_password" type="password" placeholder="密码" /> 
	<button id="user_login_btn">登录</button>
	<button id="qrcode_login_btn">扫码登录</button>
	<a  class="register_now" id="register_btn" disabled style="display:none">注册</a>
													
	<!-- <div id="copyright">版权所有©清华大学建筑技术系<br>
	备案号：京ICP备15040251号-2</div> -->
</div>
<!-- cover占位div -->
<!-- <div class="cover"></div> -->
<!-- <div id="cover"></div> -->
<div style="visibility:hidden;" id="weixin_api_ticket" key="<%=JsapiTicket%>"></div>

<script src="/public/static/common/js/jquery.i18n.properties.js"></script>
<script type="text/javascript">
	$(function(){
		// 选择语言
		$('.language.ui.dropdown').dropdown();
		jQuery.i18n.properties({
			name: 'i18n',
			path: '/public/i18n/',
			mode: 'map',
			language: window.localStorage.getItem("language"),
			callback: function() {
				if(window.localStorage.getItem("language") == 'ch') return;
				$("title").html($.i18n.prop("wx_login_title"));
				$("#user_login_btn").html($.i18n.prop("wx_login_title"));
				$("#qrcode_login_btn").html($.i18n.prop("wx_login_scancode"));
				$("#register_btn").html($.i18n.prop("wx_login_register"));
			}
		})
	})
</script>
</body>
</html>