<!DOCTYPE html>
<html style="font-size: 50px;">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>提交成功</title>
   <link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
   <link rel="stylesheet" href="/public/static/mobile/css/mobileSurveyList.css">

    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/tools.js"></script>
</head>
<body>
	<div class="container" style="position:static;padding-top:1em;text-align:center;padding-bottom:1em">
            		<span style="font-size:1.5em; color:#47b391" id="tjcg"></span>
            		<br>
            		<br>
            		<br>
            		<br>
            		<button class="ui button jxdt" id="jxdt" style="min-height:1em;font-size:0.7em;margin-right:0;"></button>
            		<button class="ui button fhlb" id="fhlb" style="margin-left:1em;min-height:1em;margin-right:0;font-size:0.7em;"></button>
            	</div>
            	<script>
            	/* 赋值 */
            	$("#jxdt").html(getLangStr("mobileSurvey_goonanswer"));
            	$("#fhlb").html(getLangStr("mobileSurvey_returntolist"));
            	$("#tjcg").html(getLangStr("mobileSurvey_submitsuccess"));
            	//根据屏幕宽度，设置fontSize
            	$(window).resize(function(){
            		throttle(changeFontsize);
            	})
            	//节流函数,用于滚动和resize时解决高频发生造成的浏览器重绘卡死问题
            	function throttle(method, context) {
            	  //清除执行函数的定时器，第一次进入为空
            	  clearTimeout(method.tId); 
            	  //设置一个100ms后在指定上下文中执行传入的method方法的定时器。
            	  method.tId = setTimeout(function () {
            	    method.call(context);
            	  }, 100);
            	}
            	function changeFontsize(){
            		var windowWidth = document.documentElement.getBoundingClientRect().width;
            		if(windowWidth<=750){
            			var fontSize = windowWidth/750*50;
            			$("html").css("font-size",fontSize+"px");
            			$("body").css("font-size",fontSize+"px");
            		}else{
            			$("body").css("font-size","50px");
            		}
            	}
                  function getQueryString(name) {
                        var params = decodeURI(window.location.search);
                        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                        var r = params.substr(1).match(reg);
                        if (r!=null) return unescape(r[2]); return null;
                  }
            	changeFontsize();//进入页面时先执行一次
            	$("#jxdt").click(function(){
					if(window.location.href.indexOf("role=user") != -1){
						window.location.href="/survey/mobileSurvey?role=user&surveyId=" + getQueryString("surveyID");	
					}
					else if(window.location.href.indexOf("role=admin") != -1){
						window.location.href="/survey/mobileSurvey?role=admin&surveyId=" + getQueryString("surveyID");	
					}
            	});
            	$("#fhlb").click(function(){
            		if(window.location.href.indexOf("role=user") != -1){
						window.location.href="/survey";	
					}
					else if(window.location.href.indexOf("role=admin") != -1){
						window.location.href="/admin/survey";	
					}
            	});
            	</script>
            	
</body>
</html>
