<!DOCTYPE html>
<html style="font-size: 50px;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>问卷</title>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
	<link rel="stylesheet" href="/public/static/common/css/jquery-ui-1.10.1.css">
	<link rel="stylesheet" href="/public/static/mobile/css/mobileSurveyTree.css">

    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/jquery.qrcode.min.js"></script>
    <script src="/public/static/common/js/tools.js"></script> 
</head>
<body>
<div class="ui basic test modal showqr">
		<div class="container">
			<i class="tiny green close icon"></i>
			<div class="qrcode-container"><div id="qrcode" class="qrcode"></div></div>
		</div>
	</div>
<div class="container" style="width:90%;margin:0 auto;padding-top:1rem;">
	<div class="ui left icon input">
	  <input placeholder="搜索维度" type="search" class="search" id="search">
	  <i class="search icon"></i>
	</div>
	<div class="ui list" id="projectList">
	</div>
</div>
	<script src="/public/static/mobile/js/mobileSurveyTree.js"></script>
	<script src="/public/static/common/js/jquery.i18n.properties.js"></script>
	<script>
	$(function(){
		jQuery.i18n.properties({
      name: 'i18n',
      path: '/public/i18n/',
      mode: 'map',
      language: window.localStorage.getItem("language"),
      callback: function() {
        $("title").html($.i18n.prop("wx_survey"));
      }
    })
	})
	</script>
</body>
</html>
