<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>
<!DOCTYPE html>
<html style="font-size: 50px;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
	<title>问卷</title>
	<base href="<%=basePath%>" />
	<link rel="stylesheet"  href="/static/common/css/semantic.min.css" />  
	<link rel="stylesheet" href="/static/common/css/jquery-ui-1.10.1.css">
	<link rel="stylesheet" href="/static/common/css/jquery.nstSlider.min.css">
	<link rel="stylesheet"  href="/static/mobile/css/mobileSurvey.css" />
	
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/jquery.cookie.js"></script>
    <script src="/static/common/js/jquery.nstSlider.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/static/common/js/semantic.min.js"></script>
    
    
    <script src="/static/common/js/tools.js"></script>
    <style>
    body{margin:0;padding:0;}
    </style>
     
</head>
<body>
<div class="head">
	<div class="surveytitle" id="surveytitle"><span>问卷标题</span></div>
	<div class="surveyintro" id="surveyintro"><span>问卷介绍</span></div>
</div>
<div class="survercontent">
	<div class="container">
	</div> 	
	<div class="paging">
		<!-- <ul>
			<li data-page="1">首页</li>
			<li data-page="1" class="disable">上一页</li>
			<li data-page="1">1</li>
			<li data-page="2" class="active">2</li>
			<li data-page="3">3</li>
			<li data-page="3">下一页</li>
			<li data-page="3">末页</li>
		</ul> -->
		<!-- <ul>
			<li data-page="1" class="disable">上一页</li>
			<li data-page="3">下一页</li>
		</ul> -->
	</div>
	<div class="error">
		<h4 class="ui red header"></h4>
	</div>	
	<button class="submit" id="submit">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
</div>
<script src="/static/mobile/js/mobileSurvey.js"></script>
		
</body>
</html>
