			<div class="analysis" id="analysis_-id-">
     			 <div class="top"><span>-title-</span></div>
     			 <div class="bottom">
     			 	<span class="title-zi"></span>
     			 	<span class="title-yin"></span>
     			 	<div id="myChart_-id-" class="chart">
     			 </div>
     			</div>
     			</div>
     			
     			<script>
				$("#analysis_-id->.bottom>.title-zi").html(getLangStr("surveyAna_zi")+"：-zi-");
				$("#analysis_-id->.bottom>.title-yin").html(getLangStr("surveyAna_yin")+"：-yin-");
				</script>