<div class="ui modal uploadimg -indexClass-">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="content" >
    <div class="addimgoption">
    <span class="tip"></span>
    <form class="ui form dynamicValue portraitForm" action="/imageupload" id="formntwo" ENCTYPE="multipart/form-data" method="post">
	  <div class="field">
	    <div class="four fields">
	      <div class="two wide field">
	        <label class="image-url"></label>
	      </div>
	      <div class="ten wide field">
	        <input type="text" name="addr" value="-imageurl-">
	      </div>
	      <div class="two wide field">
	        <button class="ok" onclick="uploadImgOk();return false;"></button>
	      </div>
	      <div class="two wide field">
	        <button class="cancel" onclick="uploadImgDelete();return false;"></button>
	      </div>
	    </div>
	  </div>
	  <div class="field">
	    <div class="four fields">
	      <div class="two wide field">
	        <label class="uploadImg-label"></label>
	      </div>
	      <div class="ten wide field">
	        <div class="contentbox">
	        	<span style="font-size: 17px;color: #000000;margin-left:0.5rem;" class="chooseImg"></span>
				<input type="file" id="file" name="file" class="eportrait "> 
				<span class="tip" style="position:absolute;top:2.5rem;left:12rem;" class="previewImg"></span>
				<img class="portraitStyle" src="-imageurl-"/>
			</div>
	      </div>
	    </div>
	  </div>
	</form>
    </div>
  </div>
  <script>
  $(".-indexClass->.header").html("<font><font>"+getLangStr("surveyAdd_img1")+"</font></font>");
  $(".-indexClass->.content>.addimgoption>.tip").html(getLangStr("surveyAdd_img2"));
  $(".-indexClass->.content>.addimgoption .image-url").html(getLangStr("surveyAdd_img3"));
  $(".-indexClass->.content>.addimgoption>form button.ok").html(getLangStr("alert_confirm"));
  $(".-indexClass->.content>.addimgoption>form button.cancel").html(getLangStr("surveyAdd_img7"));
  $(".-indexClass->.content>.addimgoption>form .uploadImg-label").html(getLangStr("surveyAdd_img4"));
  $(".-indexClass->.content>.addimgoption>form .chooseImg").html(getLangStr("surveyAdd_img5"));
  $(".-indexClass->.content>.addimgoption>form .previewImg").html(getLangStr("surveyAdd_img6"));
  </script>
</div>