  
<div class="clearfix actionBtnBox">
        <div class="fl actionBtn addDevice on">
            <span>加入设备</span>
            <div class="addDeviceListBox">
                <div  class="tit">设备列表</div>
                <div class="box" id="box">
                    <ul class="addDeviceList content" id="content">
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                        <li class="clearfix">
                            <input type="checkbox" class="fl"/>
                            <span class="fl">设备名</span>
                        </li>
                    </ul>
                    <div class="progress" id="progress">
                        <div class="bar" id="bar"></div>
                    </div>
                </div>

                <div class="confirmBtn">确定</div>
            </div>

        </div>
        <div class="fl actionBtn">回收设备</div>
        <div class="fl actionBtn">标记使用</div>
        <div class="fl actionBtn relieveBtn">解除使用</div>
    </div>