<div class="question tk on" id="-id-_question" data-mustanswer="">
	<div class="question-title">
		<span class="order-index">-orderindex-</span>、<span class="span_title"></span>
	</div>
	<div class="question-content">
		<div class="ui form option">
			<div class="inline field">
				<textarea style="background: #D8D8D8;border: 1px solid #979797;width:100%;height:4rem;min-height:0;"></textarea>
			</div>
		</div>
		<div class="ui divider question-remove question-yl"></div>
		<div class="button-group question-remove question-yl" data-index="-id-">
			<button class="ui button editquestion on"></button>
			<button class="ui button deletequestion"></button>
			<button class="ui button orderupquestion"></button>
			<button class="ui button orderdownquestion"></button>
			<button class="ui button ordertopquestion"></button>
			<button class="ui button orderbottomquestion"></button>
		</div>
		<div class="edit-container question-yl">
			<div style="float: left; width: 50%; margin-top: 1.2857rem">
				<table class="ui celled table title titletable">
					<thead>
						<tr>
							<th class="th_title"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><textarea class="question_title" placeholder=""
									rows="" cols=""></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div
				style="float: left; width: 50%; margin-top: 1.2857rem; padding: .3571rem .7857rem;min-height:7rem;">
				<span id="this_question_type"></span><span id="this_question_type_value"></span>
				<br/>
				<div class="ui checkbox" id="mustAnswer" style="margin-top:0.5rem;">
					<input type="checkbox" name="answer" class="hidden">
					<label style="font-size:1rem;" id="must_text"></label>
				</div>
			</div>
			<div style="clear: both"></div>
			<div class="error">
				<h4 class="ui red header"></h4>
			</div>
			<button class="editover" data-index="-id-"></button>
		</div>
	</div>
	<script>
	putTextFromLanguage_tk("-id-_question");
	</script>
</div>
