<div class="question lb on" id="-id-_question" data-mustanswer="">
	<div class="question-title">
		<span class="order-index">-orderindex-</span>、<span class="span_title"></span>
	</div>
	<div class="question-content">
		<div class="ui form">
		<table class="lb-content" id="lb_content">
			<tr><td></td><td class="td1"></td><td class="td2"></td><td class="td3"></td><td class="td4"></td><td id="lastTrTitle"></td></tr>
			<tr>
				<td class="left-title"></td>
				<td><div class="ui radio checkbox">
			        <input type="radio" name="1_1" class="hidden">
			        <label></label>
			    </div></td>
			    <td><div class="ui radio checkbox">
			        <input type="radio" name="1_1" class="hidden">
			        <label></label>
			    </div></td>
			    <td><div class="ui radio checkbox">
			        <input type="radio" name="1_1" class="hidden">
			        <label></label>
			    </div></td>
			    <td><div class="ui radio checkbox">
			        <input type="radio" name="1_1" class="hidden">
			        <label></label>
			    </div></td>
		      	<td class="right-title"></td>
			</tr>
		  	<tr>
			<td class="left-title"></td>
			<td><div class="ui radio checkbox">
		        <input type="radio" name="1-2" class="hidden">
		        <label></label>
		    </div></td>
		    <td><div class="ui radio checkbox">
		        <input type="radio" name="1-2" class="hidden">
		        <label></label>
		    </div></td>
		    <td><div class="ui radio checkbox">
		        <input type="radio" name="1-2" class="hidden">
		        <label></label>
		    </div></td>
		    <td><div class="ui radio checkbox">
		        <input type="radio" name="1-2" class="hidden">
		        <label></label>
		    </div></td>
	      	<td class="right-title"></td>
		  	</tr>
		</table>
		</div>
		<div class="ui divider question-remove question-yl"></div>
		<div class="button-group question-remove question-yl" data-index="-id-">
			<button class="ui button editquestion on"></button>
			<button class="ui button deletequestion"></button>
			<button class="ui button orderupquestion"></button>
			<button class="ui button orderdownquestion"></button>
			<button class="ui button ordertopquestion"></button>
			<button class="ui button orderbottomquestion"></button>
		</div>
		<div class="edit-container question-yl">
			<div class="edit-container-top">
				<div style="float: left; width: 50%; margin-top: 1.2857rem">
				<table class="ui celled table title titletable">
					<thead>
						<tr>
							<th class="th_title"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><textarea class="question_title" placeholder=""
									rows="" cols=""></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="float: left; width: 50%; margin-top: 1.2857rem; padding: .3571rem .7857rem">
				<span id="this_question_type"></span><span id="this_question_type_value"></span>
				<br/>
				<div class="ui checkbox" id="mustAnswer" style="margin-top:0.5rem;">
					<input type="checkbox" name="answer" class="hidden">
					<label style="font-size:1rem;" id="must_text"></label>
				</div>
			</div>
			<div style="clear: both"></div>
			</div>
			<div class="edit-container-bottom">
				<table class="ui celled table  optiontable" style="float:left;width:50%;">
				<thead>
					<tr>
						<th width="50%" style="text-align:center;" class="th-lefttitle"></th>
						<th width="50%" style="text-align: center">
						<div class="ui checkbox" id="allow_right_title">
							<input type="checkbox" name="allow-right-title" class="hidden">
							<label></label>
						</div>
						<span class="th-righttitle"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><textarea class="title-textarea" id="left_title_area"></textarea></td>
						<td><textarea class="title-textarea" id="right_title_area" readonly></textarea></td>
					</tr>
				</tbody>
			</table>
			<table class="ui celled table" id="option_list" style="float:left;width:48%;margin-left:1%;">
				<thead>
					<tr>
						<th style="text-align: center" class="th1"></th>
						<th style="text-align: center" class="th2"></th>
						<th style="text-align: center;width:10rem;" class="th3"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="tr-option">
						<td><input id="tr_option1" placeholder="" type="text" name="option" /></td>
						<td><input id="tr_option1_val" placeholder="" type="text" name="score" /></td>
						<td><i class="link add circle icon"
							onclick="addLBOptionAfter(this)"></i> <i
							class="link minus circle icon" onclick="deleteOption(this)"></i>
							<i class="link arrow circle up icon"
							onclick="orderUpOption(this)"></i> <i
							class="link arrow circle down icon"
							onclick="orderDownOption(this)"></i></td>
					</tr>
					<tr class="tr-option">
						<td><input id="tr_option2" placeholder="" type="text" name="option" /></td>
						<td><input id="tr_option2_val" placeholder="" type="text" name="score" /></td>
						<td><i class="link add circle icon"
							onclick="addLBOptionAfter(this)"></i> <i
							class="link minus circle icon" onclick="deleteOption(this)"></i>
							<i class="link arrow circle up icon"
							onclick="orderUpOption(this)"></i> <i
							class="link arrow circle down icon"
							onclick="orderDownOption(this)"></i></td>
					</tr>
				</tbody>
			</table>
			<div style="clear:both"></div>
			</div>
			<div class="error">
				<h4 class="ui red header"></h4>
			</div>
			<button class="editover" data-index="-id-"></button>
		</div>
	</div>
	<script>
	putTextFromLanguage_lb("-id-_question");
	</script>
</div>
