<div class="question hk"  id="question_-id-">
                					<span class="title">-id-. -title-</span>
                					<table class="ui celled striped table">
									  <thead>
									    <tr>
									    </tr>
									  </thead>
									  <tbody></tbody>
									  <tfoot></tfoot>
									</table>
									<div id="hkzxt_-id-" >
									
									</div>
									<div style="clear:both"></div>
                				</div> 
<script>
$("#question_-id->table>thead>tr").html("<th class='td1'>"+getLangStr("surveyRep_hk1")+"</th><th class='td2'>"+getLangStr("surveyRep_hk2")+"</th>");
</script>