<div class="ui basic test modal tk-modal" id="tk-modal_-id-">
	<i class="green close icon"></i>
		<div class="container">
			<div class="top">
				<span>-title-</span>
			</div>
			<div class="bottom">
				<div class="table-container">
					<table id="datatable" class="ui celled table datatables" cellspacing="0"> 
               			<thead> 
               			<tr> 
               				<!-- <th>序号</th> 
               				<th>提交答案时间</th> 
               				<th>答案文本</th>  -->
              			</tr> 
              			</thead>
            			<tbody id="datatable_body"> 
            					<!-- <tr><td>1</td><td>1月11日 12:00</td><td>这里是回答的文本，这里是回答的文本，这里是回答的文本</td></tr>
            			 -->
            			</tbody>
             		</table>
				</div>
			</div>
		</div>
	</div>
<script>
$("#tk-modal_-id-").find("#datatable>thead>tr").html("<th>"+getLangStr("surveyAna_th1")+"</th> <th>"+getLangStr("surveyAna_th2")+"</th> <th>"+getLangStr("surveyAna_th3")+"</th> ");
</script>