body{
		position:relative;
		width:100%;
	}
	

	body #content *{
		position:absolute; 
		overflow:hidden;
	}
	
	#banner{
		background:black;
		height:0%;
		width:100%;
	}
	#content{
		height:100%;
		width:100%;
	}
	

	#logo{
		width:38%;
		left:31%;
		margin-top:14%;
	}
	#admin_Login_link{
		font-size:32px;
		color: #666666;
		letter-spacing: 0px;
		right:4%;
		margin-top:3%;
		text-decoration:none;
		cursor:pointer;
	}
	input{
		/* 设备名: */
		font-size: 1.7rem!important;
		color: #9B9B9B!important;
		letter-spacing: 0px;
		border-bottom:1px solid #979797;
		border-top:none;
		border-left:none;
		border-right:none;
		border-radius:0;
		width:88.64%;
		left:50%;
		margin-left:-44.32%!important;
		padding-bottom:0.3rem;
		cursor:pointer;
		text-align:center;
		
	}
	button{
		/* border-radius: 8px; */
		width:88.64%;
		left:50%;
		margin-left:-44.32%!important;
		/* 扫码登录: */
		/* font-family: STHeitiSC-Light; */
		
		font-size: 1.7rem!important;
		color: #FFFFFF!important;
		cursor:pointer!important;
		border:1px solid #ffffff;
	}
	#user_login_btn{
		background:#51D0B2;
	}
	#qrcode_login_btn{
		/*background: #4A90E2;*/
		background:#51D0B2;
	}
	#copyright{
		/* 版权所有©清华大学建筑技术系 备案号：京: */
		font-size: 22px;
		color: #9B9B9B;
		letter-spacing: 0px;
		width:100%;
		text-align:center;
		position:absolute;
	}
	#cover{
		width:100%;
		height:100%;
		z-index:1000;
	}
	.device_name{
		background:url("../img/user.png") no-repeat left;
		background-size:1.7rem 1.9rem;
		
	}
	.device_password{
		background:url("../img/password.png") no-repeat left;
		background-size:1.7rem 1.9rem;
	}
	.register_now{
		float:right;
		top:43rem;
		right:0;
		margin-right:5.68%;
		font-size:1.2rem;
		color:#4a4a4a;
		line-height:1.7rem;
	}
	.cover{
		height:10rem;
	}

#chooseLanguage{position:fixed;top:.5rem;right:.5rem;}
#chooseLanguage>a{padding:0 .5rem;font-size:1.2rem;text-decoration:underline}
#chooseLanguage>a.active{color:#47b391;}