 img{
            display:block;
            width:90%;
            margin:1rem auto;
        }
        .btnList{
        	width:90%;
            margin:0 auto;
        }
        .btnList li{
            width:45%;
            float:left;
            margin-right:10%;
            margin-bottom:1rem;
            height:3rem;
            background:#2F9833;
            text-align:center;
            line-height:3rem;
            color:#fff;
            font-size:1.5rem;
        }
        h2{
            font-size:1.1rem;
            margin-top:2rem;
            padding:0 5%;
        }
        h3{
            font-size:1.1rem;
            margin-top:1rem;
            padding:0 5%;
        }
        .name{
            font-weight:bold;
        }