.content-team{padding-right:10%;padding-bottom:2rem;}
.edit{width:6rem;}
.consumption{padding-top:3rem;}
.div-group-base.showcontent .title{background-color:#E0E0E0;color: #4A4A4A;}
.div-group-base.showcontent .title-content{font-size:1.2142rem;}
.div-group-base.showcontent{padding:0;padding-bottom:1rem;}
.ui.table td input{width:100%;min-width:0;border:1px solid #47B390;border-radius:.2857rem;}
.ui.table td input.readonly{border:none;}
.ui.celled.table tr td{text-align:center;}
.ui.table td.td-title{text-align:center;}