 <!-- <div class="ui segment alert" id="alertBackground" style="position:fixed;z-index:1500;height:100%;width:100%;background:transparent;"> 
<div class="ui dimmer" style="background:rgba(0,0,0,.65)">
	<div class="content">
      
<div id="alertPanel" style="width:26.0714rem;height:9.5rem;background-color: #E7E5E5;border: 1px solid #47B390;border-radius: .2857rem;position:fixed;top:50%;left:50%;
margin-left:-13.0357rem;margin-top:-4.75rem;z-index:1501;">

	<div class="top" style="height:6.4285rem;display:table-cell;vertical-align:middle;"><span style="width:26.0714rem;text-align:center;display:block;line-height:1.5rem;font-size:1.2142rem;color: #4A4A4A;padding:0 1rem;">-title-</span></div>
	<div class="bottom">
		<button style="margin-left:0rem;background: #FFFFFF;border: 1px solid #47B390;color:#47B390;border-radius: 7.1428rem;width:6.6428rem;height:1.7142rem;" onclick="removeAlert();">-cancel-</button>
	<button style="margin-left:4rem;background: #47B390;color:white;border-radius: 7.1428rem;width:6.6428rem;height:1.7142rem;border:none;" onclick="removeAlert();-okFunc-();">-ok-</button>
	</div>
	</div>
	</div>
</div>
</div>  -->

<style>.ui.scrolling.modal{margin:0!important}#alertokBackground{top:0!important}</style>
<div id="alertokBackground" class="ui  basic test  modal alertok" style="width:100%;height:100%;z-index:1500;position:fixed;top:0;left:0;margin:0!important;margin-top:0!important;">
   
		   <div id="alertokPanel" style="width:26.0714rem;height:9.5rem;background-color: #E7E5E5;border: 1px solid #47B390;border-radius: .2857rem;position:fixed;top:50%;left:50%;
margin-left:-13.0357rem;margin-top:-4.75rem;z-index:1501;">

			   <div class="top" style="height:6.4285rem;display:table-cell;vertical-align:middle;"><span style="width:26.0714rem;text-align:center;display:block;line-height:1.5rem;font-size:1.2142rem;color: #4A4A4A;padding:0 1rem;">-title-</span></div>
			   <div class="bottom" style="display: inline;"><button style="margin-left:4rem;background: #FFFFFF;border: 1px solid #47B390;color:#47B390;border-radius: 7.1428rem;width:6.6428rem;height:1.7142rem;" onclick="removeAlertOk();">-cancel-</button></div>
			   <div class="bottom" style="display: inline;"><button style="margin-left:6rem;background: #47B390;color:white;border-radius: 7.1428rem;width:6.6428rem;height:1.7142rem;border:none;" onclick="removeAlertOk();-okFunc-();">-ok-</button></div>
		   </div>
</div>