<div class="question dl on" id="-id-_question" data-index="-dlorder-">
	<div class="question-title">
		<!-- <span class="order-index bold">-dlindex-、</span> --><span class="span_title bold"></span>
	</div>
	<div class="question-content">
		<div class="ui divider question-remove question-yl"></div>
		<div class="button-group question-remove question-yl" data-index="-id-">
			<button class="ui button editquestion on"></button>
			<button class="ui button deletequestiondl"></button>
			<button class="ui button orderupquestiondl"></button>
			<button class="ui button orderdownquestiondl"></button>
			<button class="ui button ordertopquestiondl"></button>
			<button class="ui button orderbottomquestiondl"></button>
		</div>
		<div class="edit-container question-yl">
			<div style="float: left; width: 50%; margin-top: 1.2857rem">
				<table class="ui celled table title titletable">
					<thead>
						<tr>
							<th class="th_title"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><textarea class="question_title" placeholder=""
									rows="" cols=""></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div
				style="float: left; width: 50%; margin-top: 1.2857rem; padding: .3571rem .7857rem;min-height:7rem;">
				<span id="this_question_type"></span><span id="this_question_type_value"></span>
				<br/>
				
			</div>
			<div style="clear: both"></div>
			<div class="error">
				<h4 class="ui red header"></h4>
			</div>
			<button class="editover" data-index="-id-"></button>
		</div>
	</div>
	<script>
	putTextFromLanguage_dl("-id-_question");
	</script>
</div>
