<div class="question ddx on" id="-id-_question" data-maxandmin="-maxandmin-" data-mustanswer="">
	<div class="question-title">
		<span class="order-index">-orderindex-</span>、<span class="span_title"></span>
	</div>
	<div class="question-content">
		<div class="ui form option">
			<div class="inline field">
				<div class="ui checkbox option">
					<input type="checkbox" name="option" class="hidden">
					<label id="default_option1"></label>
				</div>
			</div>
			<div class="inline field">
				<div class="ui checkbox option">
					<input type="checkbox" name="option" class="hidden">
					<label id="default_option2"></label>
				</div>
			</div>
		</div>
		<div class="ui divider question-remove question-yl"></div>
		<div class="button-group question-remove question-yl" data-index="-id-">
			<button class="ui button editquestion on"></button>
			<button class="ui button deletequestion"></button>
			<button class="ui button orderupquestion"></button>
			<button class="ui button orderdownquestion"></button>
			<button class="ui button ordertopquestion"></button>
			<button class="ui button orderbottomquestion"></button>
		</div>
		<div class="edit-container question-yl">
			<div style="float: left; width: 50%; margin-top: 1.2857rem">
				<table class="ui celled table title titletable">
					<thead>
						<tr>
							<th class="th_title"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><textarea class="question_title" placeholder=""
									rows="" cols=""></textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div
				style="float: left; width: 50%; margin-top: 1.2857rem; padding: .3571rem .7857rem">
				<span id="this_question_type"></span><span id="this_question_type_value"></span>
				<br/>
				<div class="ui checkbox" id="mustAnswer" style="margin-top:0.5rem;">
					<input type="checkbox" name="answer" class="hidden">
					<label style="font-size:1rem;" id="must_text"></label>
				</div>
			</div>
			<div style="clear: both"></div>
			<table class="ui celled table optiontable">
				<thead>
					<tr>
						<th class="th1"></th>
						<th style="text-align: center" class="th2"></th>
						<th style="text-align: center" class="th3"></th>
						<th style="text-align: center;width:10%;" class="th4"></th>
						<th style="text-align: center" class="th5"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="tr-option">
						<td><input id="tr_option1" placeholder="" type="text" name="option" /></td>
						<td>
							<div class="ui checkbox">
								<input type="checkbox" name="allowImage" class="hidden">
								<label></label>
							</div> <i class="link file image outline icon" data-img=""></i>
						</td>
						<td>
							<div class="ui checkbox">
								<input type="checkbox" name="allowInput" class="hidden">
								<label></label>
							</div>
						</td>
						<td><input id="tr_option1_val"  placeholder="" type="text" name="optionnum"  value="1"/></td>
						<td><i class="link add circle icon"
							onclick="addDXOptionAfter(this)"></i> <i
							class="link minus circle icon" onclick="deleteOption(this)"></i>
							<i class="link arrow circle up icon"
							onclick="orderUpOption(this)"></i> <i
							class="link arrow circle down icon"
							onclick="orderDownOption(this)"></i></td>
					</tr>
					<tr class="tr-option">
						<td><input id="tr_option2" placeholder="" type="text" name="option" /></td>
						<td>
							<div class="ui checkbox">
								<input type="checkbox" name="allowImage" class="hidden">
								<label></label>
							</div> <i class="link file image outline icon" data-img=""></i>
						</td>
						<td>
							<div class="ui checkbox">
								<input type="checkbox" name="allowInput" class="hidden">
								<label></label>
							</div>
						</td>
						<td><input id="tr_option2_val" placeholder="" type="text" name="optionnum"  value="2"/></td>
						<td><i class="link add circle icon"
							onclick="addDXOptionAfter(this)"></i> <i
							class="link minus circle icon" onclick="deleteOption(this)"></i>
							<i class="link arrow circle up icon"
							onclick="orderUpOption(this)"></i> <i
							class="link arrow circle down icon"
							onclick="orderDownOption(this)"></i></td>
					</tr>
					<tr>
						<td style="text-align: left;"><a id="add_option"
							href="javascript:void(0)" onclick="addDXOption(this)"></a></td>
						<td colspan='3'><span id="ddx_max_span"></span><input id="ddx_max" style="background: #D8D8D8;border: 1px solid #979797;width:3.5714rem;height:1.01rem;" type="text" /> &nbsp;<span id="ddx_option_span"></span> &nbsp;&nbsp;&nbsp;&nbsp;  
						<span id="ddx_min_span"></span><input id="ddx_min" style="background: #D8D8D8;border: 1px solid #979797;width:3.5714rem;height:1.01rem;" type="text" /> &nbsp;<span id="ddx_option_span"></span></td>
					</tr>
				</tbody>
			</table>
			<div class="error">
				<h4 class="ui red header"></h4>
			</div>
			<button class="editover" data-index="-id-"></button>
		</div>
	</div>
	<script>
		putTextFromLanguage_ddx("-id-_question");
	</script>
</div>
