<div class="question dx" id="question_-id-">
  <span class="title">-id-. -title-</span>
  <table class="ui celled striped table">
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>
   
  </tbody>
  <tfoot>
    <tr><th class="yxtxrc"></th>
    <th>-count-</th>
    <th></th>
  </tr></tfoot>
</table>
<div id="zzt_-id-" class="zzt"></div>
<div id="bzt_-id-" class="bzt"></div>
<div style="clear:both"></div>
</div>
<script>
$("#question_-id->table>thead>tr").html("<th class='td1'>"+getLangStr("surveyRep_dx1")+"</th><th class='td2'>"+getLangStr("surveyRep_dx2")+"</th><th class='td3'>"+getLangStr("surveyRep_dx3")+"</th>");
$("#question_-id").find(".yxtxrc").html(getLangStr("surveyRep_dx4"));
</script>