<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="static/common/img/favicon.ico">
<base href="<%=basePath %>" />
<title>管理页面</title>
<!-- Bootstrap core CSS -->
<link href="static/common/css/bootstrap.min.css" rel="stylesheet">
<!-- Website common CSS -->
<link href="static/manage/css/style.css" rel="stylesheet">
<link href="static/manage/css/dashboard.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">IBEEM</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="page/index"><spring:message code="menu.home" /></a></li>
					<li class="active"><a href="page/teamManage"><spring:message code="menu.dashboard" /></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li id="login-btn" class="hidden"><a href="#" data-toggle="modal" data-target="#loginModal"><spring:message code="btn.login" /></a></li>
					<li id="user-profile" class="dropdown"><a id="user-name" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span
							class="caret"
						></span></a>
						<ul class="dropdown-menu">
							<li><a href="page/homeManage"><spring:message code="link.profile" /></a></li>
							<li role="separator" class="divider"></li>
							<li><a id="logout-submit-btn" href="#"><spring:message code="btn.logout" /></a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="page/homeManage"><span style="margin-right: 10px" class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<spring:message code="link.home" /></a></li>
					<li class="active"><a href="page/teamManage"><span style="margin-right: 10px" class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<spring:message code="link.usermanage" /></a></li>
					<li><a href="page/deviceManage"><span style="margin-right: 10px" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						<spring:message code="link.devicemanage" /></a></li>
					<li><a href="page/surveyManage"><span style="margin-right: 10px" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						<spring:message code="link.surveymanage" /></a></li>
					<li><a href="page/helpPage"><span style="margin-right: 10px" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						<spring:message code="link.help" /></a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="container-fluid">
					<a type="button" class="btn btn-default" href="page/teamManage"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回分组管理
					</a>
					<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addNewMember">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加成员
					</button>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>成员账户</th>
								<th>成员姓名</th>
								<th>职务</th>
								<th>邮箱</th>
								<th>权限</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="grouplist">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- add new model -->
	<div class="modal fade" id="addNewMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加新成员</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>用户名</label> <input type="text" class="form-control" id="username">
						</div>
						<div class="form-group">
							<label>初始密码</label> <input type="text" class="form-control" id="password">
						</div>
						<div class="form-group">
							<label>姓名</label> <input type="text" class="form-control" id="name">
						</div>
						<div class="form-group">
							<label>职务</label> <input type="text" class="form-control" id="position">
						</div>
						<div class="form-group">
							<label>邮箱</label> <input type="text" class="form-control" id="email">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="addMember()">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- add new model -->
	<div class="modal fade" id="editMember" tabindex="-1" role="dialog" aria-labelledby="editMemberLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="editMemberLabel">编辑组信息</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label>用户名</label> <input type="hidden" class="form-control" id="newuserid"> <input type="text" class="form-control" id="newusername">
						</div>
						<div class="form-group">
							<label>姓名</label> <input type="text" class="form-control" id="newname">
						</div>
						<div class="form-group">
							<label>职务</label> <input type="text" class="form-control" id="newposition">
						</div>
						<div class="form-group">
							<label>邮箱</label> <input type="text" class="form-control" id="newemail">
						</div>
						<div class="checkbox">
							<label> <input id="priviledge" type="checkbox"> 设置为管理员
							</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" onclick="editMemberForm()">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="static/common/js/jquery.min.js"></script>
	<script src="static/common/js/jquery.cookie.js"></script>
	<script src="static/common/js/jquery.md5.js"></script>
	<script src="static/common/js/bootstrap.min.js"></script>
	<!-- js for Member -->
	<script src="static/manage/js/user.js"></script>
	<script src="static/manage/js/member.js"></script>
</body>
</html>
