<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问卷分析</title>
	<link rel='shortcut icon' href='/public/static/common/img/favicon.ico'>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/common/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/team/surveyAnalysis.css">
    
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/common/js/jquery.dataTables.min.js"></script>
    <script src="/public/static/common/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/public/static/common/js/dataTables.semanticui.min.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/plotly.min.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
</head>
<body >
<div class="ui small modal add" id="addAnalysis">
		<div class="container">
			<div class="top">
                <span id="surveyAna_addAnalysis"></span>
			</div>
			<div class="bottom">
			<form class="ui form">
			  <div class="field">
			    <label id="surveyAna_anatitle"></label>
			    <input type="text" name="title" placeholder="" id="title_input">
			  </div>
			  <div class="error title_error" id="title_error" style="top:3.5rem;left:0;"></div>
			  <div class="field">
			  	<label id="surveyAna_anazi"></label>
			    <div class="ui selection dropdown" id="dropdownZi">
		          <input type="hidden" name="gender">
		          <i class="dropdown icon"></i>
		          <div class="default text" id="independent_div"></div>
		          <div class="menu">
		          </div>
			    </div>
			  </div>
			  <div class="error title_zi" id="title_zi" style="top:8.3rem;left:0;"></div>
			  <div class="field">
			  	<label id="surveyAna_anayin"></label>
			    <div class="ui selection dropdown" id="dropdownYin">
		          <input type="hidden" name="gender">
		          <i class="dropdown icon"></i>
		          <div class="default text" id="dependent_div"><spring:message code="surveyAna.anayin" /></div>
		          <div class="menu">
		          </div>
			    </div>
			  </div>
			  <div class="error title_yin" id="title_yin" style="top:13rem;left:0;"></div>
			  <div class="field btn-group">
			  	<button class="ui button" type="button" id="cancelAdd"></button>
			    <button class="ui button" type="button" id="confirmAdd"></button>
			  </div>
			</form>
				
			</div>
		</div>
	</div>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
            <a class="item on alone" href="/survey">我的问卷</a>
        </div>
        <!--内容区--> 
        <div class="content" id="content" >
            <div class="ui grid" style="position:relative;">
                <div class="sixteen wide column content-team" style="position:static;overflow-y:scroll">
                	<div class="container" style="position:static;">
                		<div class="top">
                			<span id="headtitle">问卷分析:</span>
                			<div class="ui form top-form">
                			  <label id="survey-start-time">问卷开始时间:</label>
							  <input id="startTime" class="some_class" style="width:12rem;height:1.7142rem;" placeholder="问卷开始时间"/>
							  <label style="margin-left:1rem;" id="survey-end-time">问卷结束时间:</label>
							  <input id="endTime" class="some_class" style="width:12rem;height:1.7142rem;" placeholder="问卷结束时间"/>
							  <button class="btn add" id="add">添加分析</button>
							 </div>
                		</div>
                		<div class="bottom" id="container">
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/static/manage/js/team/surveyAnalysis.js"></script>
<script src="/public/static/manage/js/language.js"></script>
<script src="/public/static/common/js/jquery.i18n.properties.js"></script>
<script>
	$("#surveypanel").addClass("active");
	$(function(){
		jQuery.i18n.properties({
			name: 'i18n',
			path: '/public/i18n/',
			mode: 'map',
			language: window.localStorage.getItem("language"),
			callback: function() {
				if(window.localStorage.getItem("language") == 'ch') return;
				$("#headtitle").html($.i18n.prop("surveyAna_title"));
				$("#survey-start-time").html($.i18n.prop("survey_list_starttime"));
				$("#survey-end-time").html($.i18n.prop("survey_list_endtime"));
				$("#startTime").attr("placeholder", "Start Time");
				$("#endTime").attr("placeholder", "End Time");
				$("#add").html($.i18n.prop("surveyAna_add"));
			}
		})
	});
</script>
</body>
</html>