<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>答卷分析</title>
	<link rel='shortcut icon' href='/public/static/common/img/favicon.ico'>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/common/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/team/surveyAnalysis.css">
    
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
     <script src="/public/static/common/js/jquery.dataTables.min.js"></script>
     <script src="/public/static/common/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/public/static/common/js/dataTables.semanticui.min.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/plotly.min.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
    <style>
    .main .ui.sidebar.menu.top{padding-left:10rem;}
    </style>
</head>
<body >
<div class="ui small modal add" id="addAnalysis">
		<div class="container">
			<div class="top">
				<span>添加分析</span>
			</div>
			<div class="bottom">
			<form class="ui form">
			  <div class="field">
			    <label>标题</label>
			    <input type="text" name="title" placeholder="请输入标题" id="title_input">
			  </div>
			  <div class="error title_error" id="title_error" style="top:3.5rem;left:0;"></div>
			  <div class="field">
			  	<label>请输入自变量:</label>
			    <div class="ui selection dropdown" id="dropdownZi">
		          <input type="hidden" name="gender">
		          <i class="dropdown icon"></i>
		          <div class="default text">请输入自变量</div>
		          <div class="menu">
		          </div>
			    </div>
			  </div>
			  <div class="error title_zi" id="title_zi" style="top:8.3rem;left:0;"></div>
			  <div class="field">
			  	<label>请输入因变量:</label>
			    <div class="ui selection dropdown" id="dropdownYin">
		          <input type="hidden" name="gender">
		          <i class="dropdown icon"></i>
		          <div class="default text">请输入因变量</div>
		          <div class="menu">
		          </div>
			    </div>
			  </div>
			  <div class="error title_yin" id="title_yin" style="top:13rem;left:0;"></div>
			  <div class="field btn-group">
			  	<button class="ui button" type="button" id="cancelAdd">取消</button>
			    <button class="ui button" type="button" id="confirmAdd">确认</button>
			  </div>
			</form>
				
			</div>
		</div>
	</div>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
         <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
            <a class="item" href=<%="?project_name=" + project_name + "&item=building"%>>项目建筑</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=device"%>>项目设备</a>
            <a class="item on" href=<%="?project_name=" + project_name + "&item=survey"%>>项目问卷</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=member"%>>项目成员</a>
            <a class="teamTitleTit" href=<%="?project_name=" + project_name%> style="display:block;"></a>
        </div>
        <!--内容区--> 
        <div class="content" id="content" >
            <div class="ui grid" style="position:relative;">
                <div class="sixteen wide column content-team" style="position:static;overflow-y:scroll">
                	<div class="container" style="position:static;">
                		<div class="top">
                			<span id="headtitle">问卷分析:</span>
                			<div class="ui form top-form">
                			  <label>问卷开始时间:</label>
							  <input id="startTime" class="some_class" style="width:12rem;height:1.7142rem;" placeholder="问卷开始时间"/>
							  <label style="margin-left:1rem;">问卷结束时间:</label>
							  <input id="endTime" class="some_class" style="width:12rem;height:1.7142rem;" placeholder="问卷结束时间"/>
							  <button class="btn add" id="add">添加分析</button>
							 </div>
                		</div>
                		<div class="bottom" id="container">
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/static/manage/js/team/surveyAnalysis.js"></script>
<script>
$("#team").addClass("active");
</script>
</body>
</html>