<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";
%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问卷统计</title>
<base href="<%=basePath%>" />
	<link rel="stylesheet"  href="/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/static/common/css/base.css" />
    <link rel="stylesheet" href="/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/static/manage/css/home.css">
    <link rel="stylesheet" href="/static/common/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/static/manage/css/team/surveyReport.css">
    
    
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/jquery.cookie.js"></script>    
     <script src="/static/common/js/jquery.dataTables.min.js"></script>
     <script src="/static/common/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/static/common/js/dataTables.semanticui.min.js"></script>
    <script src="/static/common/js/semantic.min.js"></script>
    <script src="/static/common/js/highcharts.js"></script>
    <!-- <script src="/static/common/js/exporting.js"></script> -->
    <!-- 全局工具脚本-->
    <script src="/static/common/js/tools.js"></script> 
    
</head>
<body>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
            <a class="item" href="/redirect?url=manage/teamBuilding.jsp"><spring:message code="surveyListTeam.navbuilding" /></a>
            <a class="item" href="/redirect?url=manage/teamDevice.jsp"><spring:message code="surveyListTeam.navdevice" /></a>
            <a class="item on" href="/redirect?url=manage/surveyListTeam.jsp"><spring:message code="surveyListTeam.navsurvey" /></a>
            <a class="item" href="/redirect?url=manage/teamMember.jsp"><spring:message code="surveyListTeam.navmember" /></a>
            <a class="teamTitleTit" href="/redirect?url=manage/teamContent.jsp" style="display:block;"></a>
        </div>
        <!--内容区--> 
        <div class="content" id="content" >
            <div class="ui grid" style="position:relative;">
                <div class="sixteen wide column content-team" style="position:static;overflow-y:scroll">
                	<div class="container" style="position:static;">
                		<div class="top">
                			<span><spring:message code="surveyRep.title" /></span>
                			<div class="ui form top-form">
							  <input id="startTime" class="some_class" style="width:10rem;height:1.7142rem;" placeholder="<spring:message code="survey.starttime" />"/>
							  <input id="endTime" class="some_class" style="width:10rem;height:1.7142rem;" placeholder="<spring:message code="survey.endtime" />"/>
							  <div class="field team">
							      <div class="ui selection dropdown" id="dropdownTeam">
							          <input type="hidden" name="gender">
							          <i class="dropdown icon"></i>
							          <div class="default text"><spring:message code="surveyRep.sourceProj" /></div>
							          <div class="menu">
							          </div>
							      </div>
							  </div>
							  <div class="field building" >
							      <div class="ui selection dropdown" id="dropdownBuilding">
							          <input type="hidden" name="gender">
							          <i class="dropdown icon"></i>
							          <div class="default text"><spring:message code="surveyRep.sourceBuiding" /></div>
							          <div class="menu">
							          </div>
							      </div>
							  </div>
							  <div class="field point" >
							      <div class="ui selection dropdown" id="dropdownPoint">
							          <input type="hidden" name="gender">
							          <i class="dropdown icon"></i>
							          <div class="default text"><spring:message code="surveyRep.sourcePoint" /></div>
							          <div class="menu">
							          </div>
							      </div>
							  </div>
							  <button class="refresh" id="refresh"><spring:message code="surveyRep.refresh" /></button>
							</div>
                		</div>
                		<div class="bottom">
                			<div class="bottom-container">
                				<button id="downloadReport" class="downloadReport"><spring:message code="surveyRep.download" /></button>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/manage/js/team/teamCommon.js"></script>
<script src="/static/manage/js/team/surveyReport.js"></script>
<script>
$("#team").addClass("active");
</script>
</body>
</html>