<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>建筑问卷列表</title>
<link rel='shortcut icon' href='/public/static/common/img/favicon.ico'>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/common/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/surveyList.css">
    
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/manage/js/jquery.form.js"></script>
    <script src="/public/static/common/js/jquery.dataTables.min.js"></script>
    <script src="/public/static/common/js/dataTables.semanticui.min.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/jquery.datetimepicker.full.min.js"></script>
    <script src="/public/static/common/js/jquery.qrcode.min.js"></script>
    <script src="/public/static/common/js/excellentexport.min.js"></script>
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
</head>
<body >
<div class="ui basic test modal showqr">
	
	<i class="green close icon"></i>
		<div class="container">
		<div class="qrcode-container"><div id="qrcode" class="qrcode"></div></div>
			<button id="downloadqr"><spring:message code="surveyListDevice.downloadqr" /></button>
		</div>
	</div>
<div class="ui basic test modal export">
	<i class="green close icon"></i>
	<div class="container">
	<span class="export-title"><spring:message code="surveyListDevice.select" /></span>
		<span class="starttime-span"><spring:message code="surveyListDevice.starttime" /></span>
		<input id="startTime" class="some_class starttime" placeholder="<spring:message code="surveyListDevice.clicktochoose" />"/>
		<span class="endtime-span"><spring:message code="surveyListDevice.endtime" /></span>
		<input id="endTime" class="some_class endtime" placeholder="<spring:message code="surveyListDevice.clicktochoose" />"/>
		<a download="surveyExport.xls" class="export-button" id="exportExcel" href="javascript:void(0)"><spring:message code="surveyListDevice.downloadexcel" /></a>
	</div>
</div>
<table id="exceltable" style="display:none;"></table>
<div class="ui basic test modal addteam-modal">
	<i class="green close icon"></i>
		<div class="container">
			<div class="bindListBox">
 	           <span  class="tit">问卷列表</span>  
 	           <input type="search" class="search" placeholder="搜索维度" id="search"><br>
 	           <!-- <img src="/static/manage/img/team/loding.gif"  id="loadingm"/> -->
 	           <div class="box" id="box">  
 	              <ul class="bindList child" id="child">  
 	                     
 	              </ul>  
 	        	</div>
 	        <button class="ui button confirmBtn" id="confirmBtn">确定</button>  
 	       </div>
		</div>
	</div>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu" style="padding-left:10rem;">
             <div class="teamTitleTit">
	        	<a class="tit-teamname" href=<%="?project_name=" + project_name%>></a>
	        	<% if(buildingName){ %>
	        		<a class="tit-buildingname" href=<%="?project_name=" + project_name + "&item=building&building_name=" + buildingName%> style="border:none;"></a>
				<% }else if(topBuildingName){ %>
					<a class="tit-buildingname" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName%> style="border:none;"></a>
				<% } %>
	        </div>
            <% if(buildingName){ %>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName%>>建筑信息</a>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=point"%>>建筑测点</a>
				<a class="item on" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=survey"%>>建筑问卷</a>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=energy"%>>建筑能耗</a>
			<% }else if(topBuildingName){ %>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&top_building_name=" + topBuildingName%>>建筑信息</a>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&top_building_name=" + topBuildingName + "&op=point"%>>建筑测点</a>
				<a class="item on" href=<%="?project_name=" + project_name + "&item=building" + "&top_building_name=" + topBuildingName + "&op=survey"%>>建筑问卷</a>
				<a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&top_building_name=" + topBuildingName + "&op=energy"%>>建筑能耗</a>
			<% } %>
        </div>
            
        <!--内容区--> 
        <div class="content" id="content">
            <div class="ui grid">
                <div class="sixteen wide column content-team" >
                	<div class="surveylist">
                		<div class="div-group-base table questionnaire datatables" id="pointlist">
                		<div class="title">
                			<span class="title-content">问卷列表</span>
							<div class="survey-button">
								<button id="bindSurvey">绑定问卷</button>
							</div>
							<div class="survey-button">
								<button id="surveyReport">统计问卷</button>
							</div>
							<div class="survey-button">
								<button id="surveyAnalysis">分析问卷</button>
							</div>
							<div class="survey-button">
								<button id="surveyExport">下载问卷</button>
							</div>
                		</div>
                		<div class="div-content">
                			<table id="datatable" class="ui celled table datatables" cellspacing="0" width="100%"> 
                			<thead> 
                			<tr> 
                				<th></th>
                				<th><spring:message code="survey.tdTitle" /></th> 
                				<th><spring:message code="survey.tdIntro" /></th> 
                				<th><spring:message code="survey.tdCreator" /></th>
                				<th><spring:message code="survey.tdNum" /></th> 
                				<th><spring:message code="survey.tdPath" /></th> 
                				<th><spring:message code="survey.tdQR" /></th>
               				</tr> 
               				</thead> 
             				<tbody id="datatable_body"> 
             				</tbody>
             				</table>
                		</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/static/manage/js/team/teamCommon.js"></script>
<script src="/public/static/manage/js/team/surveyListBuilding.js"></script>
</body>
</html>