<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>项目建筑</title>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamBuilding.css">
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/manage/js/jquery.form.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
    
    <!--地图渲染的核心文件 必须引用  -->
	<script src="/public/static/common/js/highmap/highmaps.js"></script>
	<!--地图数据拼接及解析的核心文件 必须引用  --> 
	<script src="/public/static/common/js/data.js"></script>
	<!--地图 展开明细的核心插件，若需要点击显示省市则需要引用，反之则不需要引用  -->
	<script src="/public/static/common/js/drilldown.js"></script>
	<!--中国地图主要省会的坐标及相关数据插件 必须引用  -->
	<script src="/public/static/common/js/cn-china.js"></script>
	
	<script src="/public/static/common/js/exporting.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.2/proj4.js"></script>
	<!-- 所有地图数据详情见：https://img.hcharts.cn/mapdata/index.html -->
	<script src="//img.hcharts.cn/mapdata/countries/gb/gb-all.js"></script>
    <script src="/public/static/manage/js/team/map.js" ></script>
    <style>
	#fileUpLoad{margin:30px;}
	#UpLoadFileButton{margin-left:0;}
	#dataTable tr:hover{cursor:pointer;color:#ffffff;background-color:rgba(71,179,145,0.9)}
	</style>
	<script>
	$(function(){
		$("#selectType").change(function(){
			if($(this).val()==1){
				$(".type_ibeem").show();
			}else if($(this).val()==2){
				$(".type_ibeem").hide();
			}
		});
	})
	</script>
</head>
<body >
<div class="ui basic test modal addbuilding-modal">
	 
	<i class="green close icon"></i>
		<div class="container">
			
			<div class="top">
				<span>添加建筑</span>
			</div>
			<div class="bottom">
				<div class="addbuilding" >
                		<div class="ui form">
						  <div class="field name">
						    <input type="text" name="team-name"  id="addname" placeholder="建筑名称">
						  </div>
						   <table width="100%" cellpadding="10" class="select">  Select province
						  	<tr>  
					            <td class="title-td">建筑格式</td>  
					            <td class="select-td"><select id="selectType">  
					                    <option value="1" selected>IBEEM</option>  
					                    <option value="2">TOP</option>  
					            </select></td>  
					        </tr> 
						 
					        <tr class="type_ibeem">  
					            <td class="title-td">省份选择</td>  
					            <td class="select-td"><select id="selectProvince">  
					                    <option value="-1" disabled selected>省份选择</option>  
					            </select></td>  
					        </tr>  
					        <tr class="type_ibeem">  
					            <td class="title-td">城市选择</td>  
					            <td class="select-td"><select id="selectCity">  
					                    <option value="-1" disabled selected>城市选择</option>  
					            </select></td>  
					        </tr>  
					        <tr class="type_ibeem">  
					            <td class="title-td">气候区选择</td>  
					            <td class="select-td"><select id="selectQhq">  
					                    <option value="严寒">严寒</option>
					                    <option value="寒冷">寒冷</option>
					                    <option value="夏热冬暖">夏热冬暖</option>
					                    <option value="夏热冬冷">夏热冬冷</option>  
					                    <option value="温和">温和</option>
					            </select></td>  
					        </tr>  
					        <tr class="type_ibeem">  
					            <td class="title-td">类型选择</td>  
					            <td class="select-td"><select id="selectClass">  
					                    <option value="1">公共建筑</option>
					                    <option value="2">居住建筑</option>
					            </select></td>  
					        </tr>  
					    </table>  
						</div>
						
						  <div class="error"><h4 class="ui red header"></h4></div>
						  <button class="ui button" id="submit" >创建</button>
                	</div>
			</div>
		</div>
	</div>
<div class="clearfix" style="height:100%;" >
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible  " id="topmenu">
            <a class="item on" href=<%="?project_name=" + project_name + "&item=building"%>>项目建筑</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=device"%>>项目设备</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=survey"%>>项目问卷</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=member"%>>项目成员</a>
            <a class="teamTitleTit" href=<%="?project_name=" + project_name%> style="display:block;"></a>
        </div>
            
        <!--内容区--> 
        <div class="content" id="content">
            <div class="ui grid">
                <div class="sixteen wide column content-team" >
                	<div class="buildinglist">
                		<div class="ui grid">
	                		<div class="nine wide column mainright">
			                	<div class="div-group-base table questionnaire" id="questionnaire">
			                		<div class="title">
			                			<span class="title-content">项目建筑列表</span>
			                			<div class="delete">
											<button id="deleteBuilding">删除建筑</button>
										</div>
										<div class="add">
											<button id="addBuilding">添加建筑</button>
										</div>
										<div class="upload">
											<button id="uploadBuilding">模板导入</button>
										</div>
			                		</div>
			                		<div class="div-content">		
			                			<table class="ui striped table" >
										  <thead>
										    <tr>
										      <th width="1rem"></th>
										      <th id="building-name">建筑名称</th>
										      <th id="building-city">所在城市</th>
										    </tr>
										  </thead>
										  <tbody id="dataTable">
										  
										  </tbody>
										</table>
			                		</div>
			                	</div>
		                	</div>
		                	<div class="seven wide column mainright">
		                		<div class="div-group-base map" id="map">
			                		<div class="title">
			                			<span class="title-content">地理分布</span>
			                		</div>
			                		<div class="div-content">
			                			<div class="map-panel">
			                				<div class="mapdata" id="container"></div>
			                			</div>
			                		</div>
			                	</div>
		                	</div>
	                	</div>	
                	</div>
                	
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模板导入弹窗 -->
<div class="ui modal small" id="buildUploadPopover">
	  <i class="close icon"></i>
	  <div class="header">
	    	模板导入
	  </div>
   	  <form id="fileUpLoad" enctype="multipart/form-data" class="inline fields">
		   	 <div class="field">
			      <label>建筑类型</label>
			      <div class="ui selection dropdown" id="selectBuildingClass">
				        <input type="hidden" name="gender" id="buildingClass">
				        <div class="default text">建筑类型</div>
				        <i class="dropdown icon"></i>
				        <div class="menu">
				          	<div class="item" data-value="1">IBEEM公共建筑</div>
				          	<div class="item" data-value="2">IBEEM居住建筑</div>
				          	<div class="item" data-value="3">TOP</div>
				        </div>
			      </div>
		    </div>
			
		   <div class="ui form" style="width:240px;display:none;" id="topBuildingName">
		   		<br />
				  <div class="field name">
				     <input type="text" name="team-name" placeholder="建筑名称">
				  </div>
		  </div>
   	  		<br />
   	  		<br />
       	    <input type="file" name="building_file" id="building_file" />
       	    <p style="margin-top:10px;font-size:12px;">
	       	    <a href="/public/file/csv/template/gg_xxx.xlsx" target="_blank" style="border-bottom:1px solid #333333;">IBEEM公共建筑模板下载</a>&nbsp;&nbsp;
	       	    <a href="/public/file/csv/template/jz_xxx.xlsx" target="_blank" style="border-bottom:1px solid #333333;">IBEEM居住建筑模板下载</a>&nbsp;&nbsp;
	       	    <a href="/public/file/csv/template/top_xxx.xlsx" target="_blank" style="border-bottom:1px solid #333333;">TOP格式模板下载</a>
       	    </p>
	  </form>
	  <div class="actions">
	    	<div class="ui button" id="UpLoadFileButton" >提交 </div>  
	  </div>
</div>

<script src="/public/static/manage/js/team/teamCommon.js"></script>
<script src="/public/static/manage/js/team/teamBuilding.js"></script>
<!-- 选择城市 -->
<script src="/public/static/manage/js/team/selectCity.js"></script>
<script src="/public/static/common/js/jquery.i18n.properties.js"></script>
<script>
	$(function(){
		jQuery.i18n.properties({
			name: 'i18n',
			path: '/public/i18n/',
			mode: 'map',
			language: window.localStorage.getItem("language"),
			callback: function() {
				if(window.localStorage.getItem("language") == 'ch') return;
				$("title").html($.i18n.prop("project_building"));
				let i = 1;
				$("#topmenu .item").each(function(){
					if(i == 1) 
						$(this).html($.i18n.prop("project_building"));
					else if(i == 2)
						$(this).html($.i18n.prop("project_device"));
					else if(i == 3)
						$(this).html($.i18n.prop("project_survey"));
					else if(i == 4)
						$(this).html($.i18n.prop("project_member"));
					i++;
				});
				$("#questionnaire .title-content").html($.i18n.prop("project_building_list"));
				$("#uploadBuilding").html($.i18n.prop("project_building_export"));
				$("#buildUploadPopover .header").html($.i18n.prop("project_building_export"));
				$("#addBuilding").html($.i18n.prop("project_building_add"));
				$("#deleteBuilding").html($.i18n.prop("project_building_delete"));
				$("#building-name").html($.i18n.prop("project_building_name"));
				$("#building-city").html($.i18n.prop("project_building_city"));
				$("#map .title-content").html($.i18n.prop("project_geographical_distribution"));
				$("#fileUpLoad label").html($.i18n.prop("project_building_type"));
				$("#selectBuildingClass .default").html($.i18n.prop("project_building_type"));
				$("#selectBuildingClass .item").each(function(){
					if($(this).attr("data-value") == "1")
						$(this).html($.i18n.prop("project_building_type1"))
					if($(this).attr("data-value") == "2")
						$(this).html($.i18n.prop("project_building_type2"))
				})
				$("#topBuildingName input").attr("placeholder", $.i18n.prop("project_building_name"));
				let j = 1;
				$("#fileUpLoad p a").each(function(){
					if(j == 1)
						$(this).html($.i18n.prop("project_template_type1"))
					else if(j == 2)
						$(this).html($.i18n.prop("project_template_type2"))
					else if(j == 3)
						$(this).html($.i18n.prop("project_template_type3"))
					j++;
				})
				$("#UpLoadFileButton").html($.i18n.prop("project_template_sumbmit"));
				$("#addname").attr("placeholder", $.i18n.prop("project_building_name"));
				$(".top span").html($.i18n.prop("project_building_add"));
				let k = 1;
				$(".addbuilding .title-td").each(function(){
					if(k == 1)
						$(this).html($.i18n.prop("project_buildingadd_format"));
					else if(k == 2)
						$(this).html($.i18n.prop("project_buildingadd_province"));
					else if(k == 3)
						$(this).html($.i18n.prop("project_buildingadd_city"));
					else if(k == 4)
						$(this).html($.i18n.prop("project_buildingadd_climatic"));
					else if(k == 5)
						$(this).html($.i18n.prop("project_buildingadd_type"));
					k++;
				});
				k = 1;
				$("#selectProvince option").each(function(){
					if(k == 1)
						$(this).html($.i18n.prop("project_buildingadd_province"));
					k++;
				})
				$("#selectCity option").html($.i18n.prop("project_buildingadd_city"));
				k = 1;
				$("#selectQhq option").each(function(){
					if(k == 1)
						$(this).html($.i18n.prop("project_buildingadd_climatictype1"));
					else if(k == 2)
						$(this).html($.i18n.prop("project_buildingadd_climatictype2"));
					else if(k == 3)
						$(this).html($.i18n.prop("project_buildingadd_climatictype3"));
					else if(k == 4)
						$(this).html($.i18n.prop("project_buildingadd_climatictype4"));
					else if(k == 5)
						$(this).html($.i18n.prop("project_buildingadd_climatictype5"));
					k++;
				})
				k = 1;
				$("#selectClass option").each(function(){
					if(k == 1)
						$(this).html($.i18n.prop("project_buildingadd_public"));
					else if(k == 2)
						$(this).html($.i18n.prop("project_buildingadd_residential"));
					k++;
				})
				$("#submit").html($.i18n.prop("project_buildingadd_submit"));
			}
		})
	})
</script>
</body>
</html>