<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>建筑信息</title>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamBuildingData.css">
    <link rel="stylesheet" href="/public/static/common/css/jquery.datetimepicker.css">
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/manage/js/jquery.form.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/jquery.datetimepicker.full.min.js"></script> 
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
    <style>
	.building-box{padding:3rem; background-color:#ffffff; border:1px solid #e7e7e7;position:relative}
	.building-box .building-type{position:absolute;right:10px;top:10px;color:#47b391;border:1px solid #47b391;padding:3px 10px;}
	.building-box .ui.pointing.secondary.menu{margin-top:2rem;}
	.building-box .b-pic{overflow:hidden; margin-bottom:2rem;}
	.building-box .b-pic .b-pic-img{width:32%; height:10rem; margin-right:2%; float:left; border-radius:4px; -webkit-border-radius:4px;}
	.building-box .b-pic .b-pic-img:nth-child(3n){margin-right:0;}
	.building-box .b-pic .b-pic-img img{width:100%; height:100%;}
	.building-box .b-pic .b-pic-add{text-align:center; background-color:#cccccc; padding-top:4rem;}
	
	.building-box .b-list{/* overflow:hidden; */border:1px solid #e8e8e8;}
	.building-box .b-title{clear:both;padding:20px 0 10px 10px;}
	.building-box .b-title .ui.teal.label.large{background-color: transparent!important;border-color: #00b5ad!important;color: #333!important;padding: 0!important; font-size:16px!important;}
	.building-box .b-title .ui.teal.label.large:hover{background-color: transparent!important;color: #333!important;}

	.building-box .b-list .ui.labeled.input{ float:left;margin:0; width:50%;}
	.building-box .b-list .ui.labeled.input a.ui.label{border:1px solid #e8e8e8;background-color: transparent!important;text-align: center;border-radius: 0;padding-top:1rem; font-size:14px; width:45%;height:3.2rem; float:left;}
	.building-box .b-list .ui.labeled.input a.ui.label.label-max{padding-top: 0.2rem!important;}
	.building-box .b-list .ui.labeled.input input,
	.building-box .b-list .ui.labeled.input .dropdown{ float:left;width:55%;border:1px solid #e8e8e8;border-radius:0; height:3.2rem!important;line-height: 1rem;padding-right: 1em!important;font-size:14px;}
	.building-box .b-list .ui.labeled.input select{ float:right; padding-left:10px;width:55%;border:1px solid #e8e8e8;border-radius:0; height:3.2rem!important;line-height: 1rem;padding-right: 1em!important;font-size:14px;}
	
	.building-box .part-result-ok{display:block; margin:30px auto 0!important; width:6rem; text-align:center;opacity:0.7;filter:alpha(opacity=70);}
	.building-box .part-result-ok:hover{cursor:pointer; opacity:1;filter:alpha(opacity=100);}
	.building-slider{padding:2rem; background-color:#ffffff; border:1px solid #e7e7e7;}
	.building-slider .slider-3d{height:20rem; margin-top:2rem; background-color:#efefef;}
	
	.ui.secondary.pointing.menu>.item, .ui.secondary.pointing.menu>.menu>.item{padding:.6em 0.7em!important}
	.ui.secondary.pointing.menu>.item.active, .ui.secondary.pointing.menu>.menu>.item.active {border-color:#47b391!important ;color:#47b391!important;}
	.ui.teal.label, .ui.teal.labels .label {background-color: #47b391!important;border-color: #47b391!important;color: #fff!important;}
	
 	.ui.label-2, .ui.labels .label-2 {background-color: transparent!important;border-color: #00b5ad!important;color: #333!important;padding: 0!important;}
	.ui.label-2:hover, .ui.labels .label-2:hover{background-color: transparent!important;color: #333!important;}
	.change-status{margin-top:0px;}
	.open_select_box{text-decoration:underline;color:#333333;}
	.input_disabled{background-color:#f8f8f8!important;}
	.list_gg,.list_jz{display:none;}
	
	#fileUpLoad{margin:30px;}
	.clearfix{overflow:hidden;clear:both;}
	</style>
</head>
<body>
<!-- 添加图片弹窗 -->
<div class="ui modal small" id="picUploadPopover">
	  <i class="close icon"></i>
	  <div class="header">
	    	上传图片
	  </div>
   	  <form id="fileUpLoad" enctype="multipart/form-data" class="inline fields">
       	    <input type="file" name="file" />
	  </form>
	  <div class="actions">
	    	<div class="ui red button" id="UpLoadFileButton" >提交</div>  
	  </div>
</div>

<div class="clearfix" style="height:100%;">
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible" id="topmenu" style="padding-left:10rem;">
            <div class="teamTitleTit">
		        	<a class="tit-teamname" href=<%="?project_name=" + project_name%>></a>
		        	<a class="tit-buildingname" href=<%="?project_name=" + project_name + "&item=building&building_name=" + buildingName%> style="border:none;"></a>
			</div>
            <a class="item on" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=info"%>>建筑信息</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=point"%>>建筑测点</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=survey"%>>建筑问卷</a>
            <a class="item" href=<%="?project_name=" + project_name + "&item=building" + "&building_name=" + buildingName + "&op=energy"%>>建筑能耗</a>
        </div>
 
        <!--内容区--> 
        <div class="content" id="content" style="overflow:scroll;">
            <div class="ui grid" style="height: auto!important;">
                <div class="sixteen wide column content-team" >
                	<div class="buildinglist">
                		<div class="ui grid">
	                		<div class="eleven wide column mainright">
			                	<div class="building-box">
			                		<div class="building-type">IBEEM</div>
			                		<div class="ui label huge label-2" id="buildingname"></div>

									<div class="ui pointing secondary menu" id="build-menu">
										  <a class="active item" data-tab="first">基本信息</a>
										  <a class="item" data-tab="second">关键设计评价指标</a>
										  <a class="item" data-tab="third">节能措施</a>
										  <a class="item" data-tab="four">室内环境措施</a>
										  <a class="item" data-tab="five">室内环境参数设计</a>
										  <a class="item" data-tab="six">节水设备</a>
									</div>
									<!-- 基本信息 -->
									<div class="ui bottom attached active tab segment" data-tab="first">
										
					                		<div class="b-pic" id="b-pic">
							                		<!-- <div class="ui left floated image b-pic-img">
													  		<a class="ui left red corner label"><i class="remove icon b-pic-img-list"></i></a>
													  		<img src="http://www.ibeem.cn/file/image/1494754915058.jpg">
													</div>
							                		<div class="ui left floated image b-pic-img">
													  		<a class="ui left red corner label"><i class="remove icon b-pic-img-list"></i></a>
													  		<img src="http://www.ibeem.cn/file/image/1494754915058.jpg">
													</div> -->
													<div class="ui left floated image b-pic-img b-pic-add" id="b-pic-add">
													  		<i class="add icon" style="font-size:48px;"></i>
													</div>
					                		</div> 
											
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">调研测试主体单位</a>
														  <input type="text" placeholder="请填写" id="a1">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">所在课题</a>
														  <input type="text" placeholder="请填写" id="a2">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">联系人</a>
														  <input type="text" placeholder="请填写" id="a3">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">联系方式</a>
														  <input type="text" placeholder="请填写" id="a4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑名称</a>
														  <input type="text" placeholder="请填写" id="a5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑类别</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a6_hide">
														        <div class="text" id="a6">办公</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">办公</div>
																        <div class="item">博物馆</div>
																        <div class="item">会展中心</div>
																        <div class="item">酒店</div>
																        <div class="item">商场</div>
																        <div class="item">商业综合体</div>
																        <div class="item">学校</div>
																        <div class="item">医院</div>
																        <div class="item">住宅</div>
																        <div class="item">展览馆或其他</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input" style="display:block!important">
														  <a class="ui label">地理位置 &nbsp;<span id="open_select_box1" class="open_select_box">修改</span><span id="open_select_box2" class="open_select_box" style="display:none;">关闭</span></a>
														  <input type="text" placeholder="请填写" id="a7" class="input_disabled" disabled>
														  <input type="hidden" id="a7_pro" class="input_disabled" disabled>
														  <div id="box_select" style="display:none;">
															  <select id="selectProvince" class="change-status">  
										                    		<option value="-1">省份选择</option>  
												              </select>
												              <select id="selectCity" class="change-status">  
												                    <option value="-1">城市选择</option>  
												              </select>
											              </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">气候区</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a26_hide">
														        <div class="text" id="a26">严寒</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">严寒</div>
																        <div class="item">寒冷</div>
																        <div class="item">夏热冬冷</div>
																        <div class="item">夏热冬暖</div>
																        <div class="item">温和</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">申报单位</a>
														  <input type="text" placeholder="请填写" id="a8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">参与单位</a>
														  <input type="text" placeholder="请填写" id="a9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">申报时间</a>
														  <input type="text" placeholder="请填写" id="a10" class="form_datetime_choice">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">采用标准</a>
														  <input type="text" placeholder="请填写" id="a11">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">星级</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a12_hide">
														        <div class="text" id="a12">无星级</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item">无星级</div>
															        <div class="item">LEED金级</div>
															        <div class="item">LEED银级</div>
															        <div class="item">LEED认证级</div>
															        <div class="item">非绿建</div>
															        <div class="item">一星级</div>
															        <div class="item">二星级</div>
															        <div class="item">三星级</div>
															        <div class="item">设计一星级</div>
															        <div class="item">设计二星级</div>
															        <div class="item">设计三星级</div>
															        <div class="item">运行一星级</div>
															        <div class="item">运行二星级</div>
															        <div class="item">运行三星级</div>
														        </div>
													      </div>												      
													</div>
													<div class="ui labeled input">
														  <a class="ui label">标识类别</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a13_hide">
														        <div class="text" id="a13">设计</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item">设计</div>
														          	<div class="item">运行</div>
														        </div>
													      </div>													      
													</div>
													<div class="ui labeled input">
														  <a class="ui label">立项时间</a>
														  <input type="text" placeholder="1970-01-01" id="a14" class="form_datetime_choice">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">竣工时间</a>
														  <input type="text" placeholder="1970-01-01" id="a15" class="form_datetime_choice">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">运营时间</a>
														  <input type="text" placeholder="1970-01-01" id="a16" class="form_datetime_choice">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑面积(m2)</a>
														  <input type="text" placeholder="请填写" id="a17">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑朝向</a>
														  <input type="text" placeholder="请填写" id="a18">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">备注</a>
														  <input type="text" placeholder="请填写" id="a19">
													</div>
													
													<!-- 公共建筑独有  -->
													<div class="ui labeled input list_gg">
														  <a class="ui label">空调面积</a>
														  <input type="text" placeholder="请填写" id="a20">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">高度</a>
														  <input type="text" placeholder="请填写" id="a21">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">建筑性质</a>
														  <input type="text" placeholder="请填写" id="a22">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">建筑使用人数</a>
														  <input type="text" placeholder="请填写" id="a23">
													</div>
 													
													<!-- 居住建筑独有 -->
													<div class="ui labeled input list_jz">
														  <a class="ui label">总户数</a>
														  <input type="text" placeholder="请填写" id="a24">
													</div>
													<div class="ui labeled input list_jz">
														  <a class="ui label">入住户数</a>
														  <input type="text" placeholder="请填写" id="a25">
													</div>
													
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_1">保存</div>
									</div>
									<!-- // 基本信息 -->
									<!-- 关键设计评价指标 -->
									<div class="ui tab segment" data-tab="second">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">建筑名称</a>
														  <input type="text" placeholder="请填写" id="b1" class="input_disabled" disabled>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">用地面积</a>
														  <input type="text" placeholder="请填写" id="b2">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">建筑总面积</a>
														  <input type="text" placeholder="请填写" id="b3">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">地下建筑面积</a>
														  <input type="text" placeholder="请填写" id="b4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">地上建筑面积</a>
														  <input type="text" placeholder="请填写" id="b5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">天然气</a>
														  <input type="text" placeholder="请填写" id="b6">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">市政热力</a>
														  <input type="text" placeholder="请填写" id="b7">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">电力</a>
														  <input type="text" placeholder="请填写" id="b8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">年标煤量</a>
														  <input type="text" placeholder="请填写" id="b9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">单位建筑面积设计总能耗</a>
														  <input type="text" placeholder="请填写" id="b10">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">设计节能率</a>
														  <input type="text" placeholder="请填写" id="b11">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">热工性能提高幅度</a>
														  <input type="text" placeholder="请填写" id="b12">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">供暖、通风与空调系统设计能耗</a>
														  <input type="text" placeholder="请填写" id="b13">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">供暖、通风与空调系统设计能耗降低幅度</a>
														  <input type="text" placeholder="请填写" id="b14">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">用水总量</a>
														  <input type="text" placeholder="请填写" id="b15">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">非传统水量</a>
														  <input type="text" placeholder="请填写" id="b16">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">非传统水源利用率</a>
														  <input type="text" placeholder="请填写" id="b17">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">建筑生活热水量</a>
														  <input type="text" placeholder="请填写" id="b18">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">可再生热水量</a>
														  <input type="text" placeholder="请填写" id="b19">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">可再生能源产生热水比例</a>
														  <input type="text" placeholder="请填写" id="b20">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">建筑用电量</a>
														  <input type="text" placeholder="请填写" id="b21">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">可再生发电量</a>
														  <input type="text" placeholder="请填写" id="b22">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">可再生能源产生发电比例</a>
														  <input type="text" placeholder="请填写" id="b23">
													</div>
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_2">保存</div>
									</div>
									<!-- // 关键设计评价指标 -->
									<!-- 节能措施 -->
									<div class="ui tab segment" data-tab="third">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">建筑名称</a>
														  <input type="text" placeholder="请填写" id="c1" class="input_disabled" disabled>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">标识类型</a>
														  <input type="text" placeholder="请在基本信息中选择..." id="c2_hide" class="input_disabled" disabled>
														  <!--   
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c2_hide">
														        <div class="text" id="c2">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item">设计</div>
														          	<div class="item">运行</div>
														        </div>
													      </div> 
													      -->
													</div>
													<div class="ui labeled input">
														  <a class="ui label">星级</a>
														  <input type="text" placeholder="请在基本信息中选择..." id="c3_hide" class="input_disabled" disabled>
														  <!-- <div class="ui selection dropdown">
														        <input type="hidden" id="c3_hide">
														        <div class="text" id="c3">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item">无星级</div>
															        <div class="item">LEED金级</div>
															        <div class="item">LEED银级</div>
															        <div class="item">LEED认证级</div>
															        <div class="item">非绿建</div>
															        <div class="item">一星级</div>
															        <div class="item">二星级</div>
															        <div class="item">三星级</div>
															        <div class="item">设计一星</div>
															        <div class="item">设计二星</div>
															        <div class="item">设计三星</div>
															        <div class="item">运行一星</div>
															        <div class="item">运行二星</div>
															        <div class="item">运行三星</div>
														        </div>
													      </div> -->
													</div>
													<!-- 填写1或0， 1表示达标或采用，0表示未达标或未采用  -->
													<div class="ui labeled input">
														  <a class="ui label">外窗幕墙可开启</a>
													   	  <div class="ui selection dropdown">
														        <input type="hidden" id="c4_hide">
														        <div class="text" id="c4">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">采用</div>
														          	<div class="item" data-value="0">未采用</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">排风热回收</a>
													   	  <div class="ui selection dropdown">
														        <input type="hidden" id="c5_hide">
														        <div class="text" id="c5">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">可调新风比</a>
													   	  <div class="ui selection dropdown">
														        <input type="hidden" id="c6_hide">
														        <div class="text" id="c6">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">部分工况节能</a>
												   	  	  <div class="ui selection dropdown">
														        <input type="hidden" id="c7_hide">
														        <div class="text" id="c7">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">ER达标</a>
												   	  	  <div class="ui selection dropdown">
														        <input type="hidden" id="c8_hide">
														        <div class="text" id="c8">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">WS达标</a>
												   	  	  <div class="ui selection dropdown">
														        <input type="hidden" id="c9_hide">
														        <div class="text" id="c9">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">余热废热利用</a>
												   	      <div class="ui selection dropdown">
														        <input type="hidden" id="c10_hide">
														        <div class="text" id="c10">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">分项计量</a>
												   	  	  <div class="ui selection dropdown">
														        <input type="hidden" id="c11_hide">
														        <div class="text" id="c11">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">热电冷三联供</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c12_hide">
														        <div class="text" id="c12">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">可再能源利用形式</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c13_hide">
														        <div class="text" id="c13">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">照明目标值</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c14_hide">
														        <div class="text" id="c14">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">照明节能调控</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c15_hide">
														        <div class="text" id="c15">请选择</div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">达标</div>
														          	<div class="item" data-value="0">未达标</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">电梯群控、扶梯自动启停</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c16_hide">
														        <div class="text" id="c16">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">采用</div>
														          	<div class="item" data-value="0">未采用</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">节能电器设备</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c17_hide">
														        <div class="text" id="c17">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">采用</div>
														          	<div class="item" data-value="0">未采用</div>
														        </div>
													      </div>
													</div>												
													<!-- 公共建筑独有项目  -->
													<div class="ui labeled input list_gg">
														  <a class="ui label">蓄冷蓄热</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c18_hide">
														        <div class="text" id="c18">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item" data-value="1">采用</div>
														          	<div class="item" data-value="0">未采用</div>
														        </div>
													      </div>
													</div>
													
													
											</div>
											<div class="b-title">	
													<a class="ui teal label large">具体措施统计</a>
													<div class="clear"></div>
											</div>
											<div class="b-list">
											
													
													<!-- 居住建筑独有项目    -->
													<div class="ui labeled input list_jz">
														  <a class="ui label">通风换气形式</a>
														  <input type="text" placeholder="请填写" id="c19">
													</div>

													<div class="ui labeled input">
														  <a class="ui label">冷热源形式</a>
														  <input type="text" placeholder="请填写" id="c20">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">输配系统形式</a>
														  <input type="text" placeholder="请填写" id="c21">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">末端系统</a>
														  <input type="text" placeholder="请填写" id="c22">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">总制冷量</a>
														  <input type="text" placeholder="请填写" id="c23">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">制冷量指标</a>
														  <input type="text" placeholder="请填写" id="c24">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">总制热量</a>
														  <input type="text" placeholder="请填写" id="c25">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">制热量指标</a>
														  <input type="text" placeholder="请填写" id="c26">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">COP</a>
														  <input type="text" placeholder="请填写" id="c27">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">EER</a>
														  <input type="text" placeholder="请填写" id="c28">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">IPLV</a>
														  <input type="text" placeholder="请填写" id="c29">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">锅炉热效率</a>
														  <input type="text" placeholder="请填写" id="c30">
													</div>	
													<div class="ui labeled input">
														  <a class="ui label">Ws</a>
														  <input type="text" placeholder="请填写" id="c31">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">外墙K</a>
														  <input type="text" placeholder="请填写" id="c32">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">屋面K</a>
														  <input type="text" placeholder="请填写" id="c33">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">外窗K</a>
														  <input type="text" placeholder="请填写" id="c34">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">外窗SC</a>
														  <input type="text" placeholder="请填写" id="c35">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑朝向</a>
														  <input type="text" placeholder="请填写" id="c36">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">外窗可开启面积比</a>
														  <input type="text" placeholder="请填写" id="c37">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">幕墙可开启面积比</a>
														  <input type="text" placeholder="请填写" id="c38">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">蓄冷蓄热系统设计</a>
														  <input type="text" placeholder="请填写" id="c39">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">排风热回收形式</a>
														  <input type="text" placeholder="请填写" id="c40">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">新风调节比例范围</a>
														  <input type="text" placeholder="请填写" id="c41">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">部分工况节能措施</a>
														  <input type="text" placeholder="请填写" id="c42">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">余热废热系统设计</a>
														  <input type="text" placeholder="请填写" id="c43">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">冷热电三联供系统设计</a>
														  <input type="text" placeholder="请填写" id="c44">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">可再能源利用形式</a>
														  <input type="text" placeholder="请填写" id="c45">
													</div>
													<!-- 公共建筑独有    -->
													<div class="ui labeled input list_gg">
														  <a class="ui label">天窗K</a>
														  <input type="text" placeholder="请填写" id="c46">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">天窗SC</a>
														  <input type="text" placeholder="请填写" id="c47">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">窗墙面积比</a>
														  <input type="text" placeholder="请填写" id="c48">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">天窗比例</a>
														  <input type="text" placeholder="请填写" id="c49">
													</div>
													
											</div>
											<div class="b-title list_gg">	
													<a class="ui teal label large">空调供冷供回水温度</a>
													<div class="clear"></div>
											</div>	
											<div class="b-list">
													
																																				
													<div class="ui labeled input list_gg">
														  <a class="ui label">供水</a>
														  <input type="text" placeholder="请填写" id="c50">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">回水</a>
														  <input type="text" placeholder="请填写" id="c51">
													</div>
											</div>
											<div class="b-title list_gg">	
											 	  	<a class="ui teal label large">空调供热供回水温度</a>
												  	<div class="clear"></div>
											</div>
											<div class="b-list">													
	
													<div class="ui labeled input list_gg">
														  <a class="ui label">供水</a>
														  <input type="text" placeholder="请填写" id="c52">
													</div>
													<div class="ui labeled input list_gg">
														  <a class="ui label">回水</a>
														  <input type="text" placeholder="请填写" id="c53">
													</div>
													
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_3">保存</div>
									</div>
									<!-- 节能措施 -->
									<!-- 室内环境措施  -->
									<div class="ui tab segment" data-tab="four">
										<div class="b-list">											
												<div class="ui labeled input">
													  <a class="ui label">建筑名称</a>
													  <input type="text" placeholder="请填写" id="d17" class="input_disabled" disabled>
												</div>
												<div class="ui labeled input">
													  <a class="ui label">标识类型</a>
													  <input type="text" placeholder="请在基本信息中选择..." id="d2_hide" class="input_disabled" disabled>
												</div>
												<div class="ui labeled input">
													  <a class="ui label">星级</a>
													  <input type="text" placeholder="请在基本信息中选择..." id="d1_hide" class="input_disabled" disabled>
												</div>
												
										</div>
										<div class="b-title">	
												<a class="ui teal label large">技术应用统计</a>
												<div class="clear"></div>
										</div>	
										<div class="b-list">													
												
																								
												<div class="ui labeled input">
													  <a class="ui label">自然通风</a>
													  <input type="text" placeholder="请填写" id="d3">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">自然采光</a>
													  <input type="text" placeholder="请填写" id="d4">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">遮阳</a>
													  <input type="text" placeholder="请填写" id="d5">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">改善自然采光</a>
													  <input type="text" placeholder="请填写" id="d6">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">可调控空调末端</a>
													  <input type="text" placeholder="请填写" id="d7">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">空气质量监控</a>
													  <input type="text" placeholder="请填写" id="d8">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">无障碍设施</a>
													  <input type="text" placeholder="请填写" id="d9">
												</div>
												
										</div>
										<div class="b-title">	
												<a class="ui teal label large">具体措施统计</a>
												<div class="clear"></div>
										</div>		
										<div class="b-list">
		
												<!-- 公共建筑专有 -->									
												<div class="ui labeled input list_gg"> 
													  <a class="ui label">自然通风措施</a>
													  <input type="text" placeholder="请填写" id="d10">
												</div>
												
												<!-- 居住建筑独有   -->
												<div class="ui labeled input list_jz"> 
													  <a class="ui label label-max">通风开口面积与房间地板面积比例</a>
													  <input type="text" placeholder="请填写" id="d11">
												</div>
												
												<div class="ui labeled input">
													  <a class="ui label label-max">自然采光达标面积比例</a>
													  <input type="text" placeholder="请填写" id="d12">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">遮阳形式</a>
													  <input type="text" placeholder="请填写" id="d13">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">改善自然采光措施</a>
													  <input type="text" placeholder="请填写" id="d14">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">空调末端调控手段</a>
													  <input type="text" placeholder="请填写" id="d15">
												</div>
												<div class="ui labeled input">
													  <a class="ui label">空气质量监控设计</a>
													  <input type="text" placeholder="请填写" id="d16">
												</div>
										</div>
										<div class="clearfix"></div>
										<div class="ui teal label huge part-result-ok" id="submit_sheet_4"><spring:message code="btn.save" /></div>
								</div>
									<!-- 室内环境措施 -->
									<!-- 室内环境参数设计 -->
									<div class="ui tab segment" data-tab="five">
									
											<div class="b-title" style="padding-top:0;">	
													<a class="ui teal label large">空调环境</a>
													<div class="clear"></div>
											</div>
											<div class="b-list">
													
													<div class="ui labeled input">
														  <a class="ui label">功能房间</a>
														  <input type="text" placeholder="请填写" id="e1">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">夏季温度</a>
														  <input type="text" placeholder="请填写" id="e2">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">夏季湿度</a>
														  <input type="text" placeholder="请填写" id="e3">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冬季温度</a>
														  <input type="text" placeholder="请填写" id="e4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冬季湿度</a>
														  <input type="text" placeholder="请填写" id="e5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">新风量</a>
														  <input type="text" placeholder="请填写" id="e6">
													</div>
											</div>
											<div class="b-title">	
													<a class="ui teal label large">照度环境</a>
													<div class="clear"></div>
											</div>
											<div class="b-list">		
													
													<div class="ui labeled input">
														  <a class="ui label">照度标准值</a>
														  <input type="text" placeholder="请填写" id="e7">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">UGR</a>
														  <input type="text" placeholder="请填写" id="e8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">U0</a>
														  <input type="text" placeholder="请填写" id="e9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">Ra</a>
														  <input type="text" placeholder="请填写" id="e10">
													</div>
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_5">保存</div>
									</div>
									<!-- 室内环境参数设计 -->
									<!-- 节水设计 -->
									<div class="ui tab segment" data-tab="six">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">建筑名称</a>
														  <input type="text" placeholder="请填写" id="f1" class="input_disabled" disabled>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">标识类型</a>
														  <input type="text" placeholder="请在基本信息中选择..." id="f3_hide" class="input_disabled" disabled>
														  <!--   
														  <div class="ui selection dropdown">
														        <input type="hidden" id="f3_hide">
														        <div class="text" id="f3">请选择 </div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          	<div class="item">设计</div>
														          	<div class="item">运行</div>
														        </div>
													      </div> 
													      -->
													</div>
													<div class="ui labeled input">
														  <a class="ui label">星级</a>
														  <input type="text" placeholder="请在基本信息中选择..." id="f2_hide" class="input_disabled" disabled>
													</div>
											</div>
											<div class="b-title">													
													<a class="ui teal label large">技术应用统计</a>
													<div class="clear"></div>
											</div>
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">雨水积蓄</a>
														  <input type="text" placeholder="请填写" id="f4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">雨水回用量</a>
														  <input type="text" placeholder="请填写" id="f5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">市政中水</a>
														  <input type="text" placeholder="请填写" id="f6">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">自制中水</a>
														  <input type="text" placeholder="请填写" id="f7">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">分类计量</a>
														  <input type="text" placeholder="请填写" id="f8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">节水灌溉</a>
														  <input type="text" placeholder="请填写" id="f9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冷却水节水</a>
														  <input type="text" placeholder="请填写" id="f10">
													</div>
											</div>
											<div class="b-title">	
												<a class="ui teal label large">具体措施统计</a>
												<div class="clear"></div>
											</div>
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">雨水积蓄措施</a>
														  <input type="text" placeholder="请填写" id="f11">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">雨水回用量</a>
														  <input type="text" placeholder="请填写" id="f12">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">非传统水源来源</a>
														  <input type="text" placeholder="请填写" id="f13">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">非传统水源利用用途</a>
														  <input type="text" placeholder="请填写" id="f14">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">节水灌溉形式</a>
														  <input type="text" placeholder="请填写" id="f15">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">雨水回用量</a>
														  <input type="text" placeholder="请填写" id="f16">
													</div>
													<div class="ui labeled input">
														  <a class="ui label label-max">中水利用量</a>
														  <input type="text" placeholder="请填写" id="f17">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">非传统水源利用率</a>
														  <input type="text" placeholder="请填写" id="f18">
													</div>
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_6">保存</div>
									</div>
									<!-- 节水设计 -->									
			                	</div>
		                	</div>
		                	<!-- 右侧三维模型 -->
		                	<div class="five wide column mainright">
		                		<div class="building-slider">
			                		<div class="ui label huge label-2" id="3dbuilding">建筑三维模型</div>
			                		<div id="" class="slider-3d"></div>
			                	</div>
			                	<br />
			                	<div class="building-slider">
			                		<a class="ui teal label huge part-result-ok" id="buildTempOut" style="width:100%;text-align:center;">导出建筑信息</a>
			                	</div>
		                	</div>
	                	</div>	
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 选择城市 -->
<script src="/public/static/manage/js/team/selectCity.js"></script>
<script src="/public/static/manage/js/team/teamCommon.js"></script>
<script src="/public/static/manage/js/team/teamBuildingData.js"></script>
<script src="/public/static/common/js/jquery.i18n.properties.js"></script>
<script>
		$(function(){
			// 选择语言
			$('.language.ui.dropdown').dropdown();
			jQuery.i18n.properties({
				name: 'i18n',
				path: '/public/i18n/',
				mode: 'map',
				language: window.localStorage.getItem("language"),
				callback: function() {
					if(window.localStorage.getItem("language") == 'ch') return;
					$("title").html($.i18n.prop("project_building_infomation"));
					$("#3dbuilding").html($.i18n.prop("project_building_3dmodal"));
					$("#buildTempOut").html($.i18n.prop("project_building_export"));
					$("#submit_sheet_1").html($.i18n.prop("peplepage_save"));
					$("#submit_sheet_2").html($.i18n.prop("peplepage_save"));
					$("#submit_sheet_3").html($.i18n.prop("peplepage_save"));
					$("#submit_sheet_4").html($.i18n.prop("peplepage_save"));
					$("#submit_sheet_5").html($.i18n.prop("peplepage_save"));
					$("#submit_sheet_6").html($.i18n.prop("peplepage_save"));
					var i = 1;
					$("#topmenu .item").each(function(){
						if(i == 1) $(this).html($.i18n.prop("project_building_info"));
						if(i == 2) $(this).html($.i18n.prop("project_building_point"));
						if(i == 3) $(this).html($.i18n.prop("project_building_survey"));
						if(i == 4) $(this).html($.i18n.prop("project_building_energe"));
						i++;
					});
					i = 1;
					$("#build-menu a").each(function(){
						if(i == 1) $(this).html($.i18n.prop("project_building_basic_infomation"));
						if(i == 2) $(this).html($.i18n.prop("project_building_indicators"));
						if(i == 3) $(this).html($.i18n.prop("project_building_energy"));
						if(i == 4) $(this).html($.i18n.prop("project_building_indoorenv"));
						if(i == 5) $(this).html($.i18n.prop("project_building_indoorenvpar"));
						if(i == 6) $(this).html($.i18n.prop("project_building_water"));
						i++;
					})
				}
			})
		});
	</script>
</body>
</html>