<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>建筑信息</title>
	<link rel="stylesheet"  href="/public/static/common/css/semantic.min.css" />
    <link rel="stylesheet" href="/public/static/common/css/base.css" />
    <link rel="stylesheet" href="/public/static/common/css/dataTables.semanticui.min.css"/>
    <link rel="stylesheet" href="/public/static/manage/css/frameStyle.css" />
    <link rel="stylesheet" href="/public/static/manage/css/home.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamcommon.css">
    <link rel="stylesheet" href="/public/static/manage/css/team/teamBuildingData.css">
    <link rel="stylesheet" href="/public/static/common/css/jquery.datetimepicker.css">
    <script src="/public/static/common/js/jquery.min.js"></script>
    <script src="/public/static/common/js/jquery.cookie.js"></script>
    <script src="/public/static/manage/js/jquery.form.js"></script>
    <script src="/public/static/common/js/semantic.min.js"></script>
    <script src="/public/static/common/js/jquery.datetimepicker.full.min.js"></script> 
    <!-- 全局工具脚本-->
    <script src="/public/static/common/js/tools.js"></script>
    <style>
	.building-box{padding:3rem; background-color:#ffffff; border:1px solid #e7e7e7;position:relative}
	.building-box .building-type{position:absolute;right:10px;top:10px;color:#47b391;border:1px solid #47b391;padding:3px 10px;}
	.building-box .ui.pointing.secondary.menu{margin-top:2rem;}
	.building-box .b-pic{overflow:hidden; margin-bottom:2rem;}
	.building-box .b-pic .b-pic-img{width:32%; height:10rem; margin-right:2%; float:left; border-radius:4px; -webkit-border-radius:4px;}
	.building-box .b-pic .b-pic-img:nth-child(3n){margin-right:0;}
	.building-box .b-pic .b-pic-img img{width:100%; height:100%;}
	.building-box .b-pic .b-pic-add{text-align:center; background-color:#cccccc; padding-top:4rem;}
	
	.building-box .b-list{/* overflow:hidden; */border:1px solid #e8e8e8;}
	.building-box .b-title{clear:both;padding:20px 0 10px 10px;}
	.building-box .b-title .ui.teal.label.large{background-color: transparent!important;border-color: #00b5ad!important;color: #333!important;padding: 0!important; font-size:16px!important;}
	.building-box .b-title .ui.teal.label.large:hover{background-color: transparent!important;color: #333!important;}

	.building-box .b-list .ui.labeled.input{ float:left;margin:0; width:50%;}
	.building-box .b-list .ui.labeled.input a.ui.label{border:1px solid #e8e8e8;background-color: transparent!important;text-align: center;border-radius: 0;padding-top:1rem; font-size:14px; width:45%;height:3.2rem; float:left;}
	.building-box .b-list .ui.labeled.input a.ui.label.label-max{padding-top: 0.2rem!important;}
	.building-box .b-list .ui.labeled.input input,
	.building-box .b-list .ui.labeled.input .dropdown{ float:left;width:55%;border:1px solid #e8e8e8;border-radius:0; height:3.2rem!important;line-height: 1rem;padding-right: 1em!important;font-size:14px;}
	.building-box .b-list .ui.labeled.input select{ float:right; padding-left:10px;width:55%;border:1px solid #e8e8e8;border-radius:0; height:3.2rem!important;line-height: 1rem;padding-right: 1em!important;font-size:14px;}
	
	.building-box .part-result-ok{display:block; margin:30px auto 0!important; width:6rem; text-align:center;opacity:0.7;filter:alpha(opacity=70);}
	.building-box .part-result-ok:hover{cursor:pointer; opacity:1;filter:alpha(opacity=100);}
	.building-slider{padding:2rem; background-color:#ffffff; border:1px solid #e7e7e7;}
	.building-slider .slider-3d{height:20rem; margin-top:2rem; background-color:#efefef;}
	
	.ui.secondary.pointing.menu>.item, .ui.secondary.pointing.menu>.menu>.item{padding:.6em 0.7em!important}
	.ui.secondary.pointing.menu>.item.active, .ui.secondary.pointing.menu>.menu>.item.active {border-color:#47b391!important ;color:#47b391!important;}
	.ui.teal.label, .ui.teal.labels .label {background-color: #47b391!important;border-color: #47b391!important;color: #fff!important;}
	
 	.ui.label-2, .ui.labels .label-2 {background-color: transparent!important;border-color: #00b5ad!important;color: #333!important;padding: 0!important;}
	.ui.label-2:hover, .ui.labels .label-2:hover{background-color: transparent!important;color: #333!important;}
	.change-status{margin-top:0px;}
	.open_select_box{text-decoration:underline;color:#333333;}
	.input_disabled{background-color:#f8f8f8!important;}
	.list_gg,.list_jz{display:none;}
	
	#fileUpLoad{margin:30px;}
	.clearfix{overflow:hidden;clear:both;}
	
	.tr_more{display:none;}
	.tr_click{cursor:pointer;}
	#roomBox a{color:#101524;text-decoration:underline;cursor:pointer}
	</style>
</head>
<body>
<!-- 添加图片弹窗 -->
<div class="ui modal small" id="picUploadPopover">
	  <i class="close icon"></i>
	  <div class="header">
	    	上传图片
	  </div>
   	  <form id="fileUpLoad" enctype="multipart/form-data" class="inline fields">
       	    <input type="file" name="file" />
	  </form>
	  <div class="actions">
	    	<div class="ui red button" id="UpLoadFileButton" >提交</div>  
	  </div>
</div>

<div class="clearfix" style="height:100%;">
     <div class="fl mainleft"></div>
    <div class="fl main">
        <div class="ui top demo horizontal inverted sidebar labeled icon menu visible" id="topmenu" style="padding-left:10rem;">
            <div class="ui top demo horizontal inverted sidebar labeled icon menu visible" id="topmenu" style="padding-left:10rem;">
				<div class="teamTitleTit">
					<a class="tit-teamname" href=<%="?project_name=" + project_name%>></a>
					<a class="tit-buildingname" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName%> style="border:none;color:#47B390;"></a>
				</div>
					<a class="item on" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName %>>建筑信息</a>
					<a class="item" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName + "&op=point" %>>建筑测点</a>
					<a class="item" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName + "&op=survey" %>>建筑问卷</a>
					<a class="item" href=<%="?project_name=" + project_name + "&item=building&top_building_name=" + topBuildingName + "&op=energy" %>>建筑能耗</a>
				</div>
			</div>
        </div>
 
        <!--内容区--> 
        <div class="content" id="content" style="overflow:scroll;">
            <div class="ui grid" style="height: auto!important;">
                <div class="sixteen wide column content-team" >
                	<div class="buildinglist">
                		<div class="ui grid">
	                		<div class="eleven wide column mainright">
			                	<div class="building-box">
			                		<div class="building-type">TOP</div>
			                		<div class="ui label huge label-2" id="buildingname"></div>

									<div class="ui pointing secondary menu" id="build-menu">
										  <a class="active item" data-tab="first">机构</a>
										  <a class="item" data-tab="second">位置</a>
										  <a class="item" data-tab="third">建筑</a>
										  <a class="item" data-tab="four">房间</a>
										  <a class="item" data-tab="six">设备</a>
										  <a class="item" data-tab="seven">能源的使用</a>
									</div>
									<div class="ui bottom attached active tab segment" data-tab="first">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">机构名称</a>
														  <input type="text" placeholder="请填写" id="a1">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址1</a>
														  <input type="text" placeholder="请填写" id="a2">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址2</a>
														  <input type="text" placeholder="请填写" id="a8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址3</a>
														  <input type="text" placeholder="请填写" id="a9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址4</a>
														  <input type="text" placeholder="请填写" id="a10">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">城市</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a3_hide">
														        <div class="text" id="a3"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
																		  <div class="item">北京</div>
																		  <div class="item">上海</div>
																        <!-- <div class="item">中国~ 英国~</div> -->
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">邮编</a>
														  <input type="text" placeholder="请填写" id="a4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">国家</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a5_hide">
														        <div class="text" id="a5"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
																		  <div class="item">中国</div>
																		  <div class="item">美国</div>
																        <!-- <div class="item"></div> -->
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">部门类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a6_hide">
														        <div class="text" id="a6"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Education</div>
																        <!-- <div class="item"></div> -->
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址号码</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="a7_hide">
														        <div class="text" id="a7"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">34</div>
																        <!-- <div class="item">46</div> -->
														        </div>
													      </div>
													</div>
													
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_1">保存</div>
									</div>
									
									<div class="ui tab segment" data-tab="second">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">地址1</a>
														  <input type="text" placeholder="请填写" id="b1">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址2</a>
														  <input type="text" placeholder="请填写" id="b9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址3</a>
														  <input type="text" placeholder="请填写" id="b10">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">地址4</a>
														  <input type="text" placeholder="请填写" id="b11">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">城市</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="b2_hide">
														        <div class="text" id="b2"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
																		<div class="item">北京</div>
														          		<div class="item">London</div>
																        <!-- <div class="item"></div> -->
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">邮编</a>
														  <input type="text" placeholder="请填写" id="b3">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">国家</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="b4_hide">
														        <div class="text" id="b4"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
																		<div class="item">中国</div>
														          		<div class="item">United Kingdom</div>
																        <!-- <div class="item"></div> -->
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑数量</a>
														  <input type="text" placeholder="请填写" id="b5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">城市文脉</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="b6_hide">
														        <div class="text" id="b6"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Sheltered</div>
																        <div class="item">Semi-sheltered</div>
																        <div class="item">Exposed</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">游泳池</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="b7_hide">
														        <div class="text" id="b7"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">yes</div>
																        <div class="item">no</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">游池类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="b8_hide">
														        <div class="text" id="b8"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Indoor</div>
																        <div class="item">Outdoor</div>
														        </div>
													      </div>
													</div>
													
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_2">保存</div>
									</div>

									<div class="ui tab segment" data-tab="third">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">主要活动类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c1_hide">
														        <div class="text" id="c1"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">office</div>
																        <div class="item">school</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">租赁型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c2_hide">
														        <div class="text" id="c2"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Single building</div>
																        <div class="item">Part building</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑图纸的可用性</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c3_hide">
														        <div class="text" id="c3"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Yes</div>
																        <div class="item">No</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">施工阶段</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c4_hide">
														        <div class="text" id="c4"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Design</div>
																        <div class="item">Construction</div>
																        <div class="item">Complete</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">施工日期</a>
														  <input type="text" placeholder="请填写" id="c5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">翻新日期</a>
														  <input type="text" placeholder="请填写" id="c6">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">翻新的细节</a>
														  <input type="text" placeholder="请填写" id="c7">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">结构类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c8_hide">
														        <div class="text" id="c8"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">reinforced concrete</div>
																        <div class="item">steel frame</div>
																        <div class="item">timber frame</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">总内部区域</a>
														  <input type="text" placeholder="请填写" id="c9">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">建筑占地面积</a>
														  <input type="text" placeholder="请填写" id="c10">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">平均高度</a>
														  <input type="text" placeholder="请填写" id="c11">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">层</a>
														  <input type="text" placeholder="请填写" id="c12">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">周长</a>
														  <input type="text" placeholder="请填写" id="c13">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">外部周边长度</a>
														  <input type="text" placeholder="请填写" id="c14">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">透气性</a>
														  <input type="text" placeholder="请填写" id="c15">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">玻璃外墙的百分比</a>
														  <input type="text" placeholder="请填写" id="c16">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">大门外墙的百分比</a>
														  <input type="text" placeholder="请填写" id="c17">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">楼层类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c18_hide">
														        <div class="text" id="c18"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">flat</div>
																        <div class="item">pitched</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">原发性通气策略</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c19_hide">
														        <div class="text" id="c19"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Natural ventilation</div>
																        <div class="item">Mixed-mode</div>
																        <div class="item">Air-conditioning</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">一次加热型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c20_hide">
														        <div class="text" id="c20"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">radiator</div>
																        <div class="item">stove</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">主要的取暖燃料</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c21_hide">
														        <div class="text" id="c21"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">gas</div>
																        <div class="item">oil</div>
																        <div class="item">electricity</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">主供暖系统效率</a>
														  <input type="text" placeholder="请填写" id="c22">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">照明容量</a>
														  <input type="text" placeholder="请填写" id="c23">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">照明控制方式</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c24_hide">
														        <div class="text" id="c24"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Day light sensors</div>
																        <div class="item">PIR sensors</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冷水机组</a>
														  <input type="text" placeholder="请填写" id="c25">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冷却型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c26_hide">
														        <div class="text" id="c26"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Chilled beams</div>
																        <div class="item">Air-conditioning</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">每年的入住时间</a>
														  <input type="text" placeholder="请填写" id="c27">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">居住人数</a>
														  <input type="text" placeholder="请填写" id="c28">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">活动类型1</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c29_hide">
														        <div class="text" id="c29"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">office</div>
																        <div class="item">cafeteria</div>
																        <div class="item">gym</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">活动类型1楼面积</a>
														  <input type="text" placeholder="请填写" id="c30">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">活动类型2</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c38_hide">
														        <div class="text" id="c38"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">office</div>
																        <div class="item">cafeteria</div>
																        <div class="item">gym</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">活动类型2楼面积</a>
														  <input type="text" placeholder="请填写" id="c39">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">服务器机房</a>
														  <input type="text" placeholder="请填写" id="c31">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">可持续性认证类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c32_hide">
														        <div class="text" id="c32"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">BREAM</div>
																        <div class="item">LEED</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">可持续性认证评级</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c33_hide">
														        <div class="text" id="c33"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">BREEAM Excellent</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">餐饮厨房</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c34_hide">
														        <div class="text" id="c34"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Yes</div>
																        <div class="item">No</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">用餐次数</a>
														  <input type="text" placeholder="请填写" id="c35">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">电梯数量</a>
														  <input type="text" placeholder="请填写" id="c36">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">升降式</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="c37_hide">
														        <div class="text" id="c37"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Goods</div>
																        <div class="item">general</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">冷水机组容量</a>
														  <input type="text" placeholder="请填写" id="c40">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">辅助计量</a>
														  <input type="text" placeholder="请填写" id="c41">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">删除</a>
														  <input type="text" placeholder="请填写" id="c42">
													</div>
											</div>
											
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_3">保存</div>
									</div>

									<div class="ui tab segment" data-tab="four">
											
										
											<table class="ui table celled center" id="roomBox">
													<thead>
														<tr>
															<th style=" width:50px"> </th>
															<th>类型</th>
															<th>楼的位置</th>
															<th>总内部区域</th>
															<th><a data-type='addRoom'>	添加</a></th>
														</tr>
													</thead>
													<tbody id="roomList">
															
													</tbody>
											</table>
											<div class="clearfix"></div>
									</div>

									<div class="ui tab segment" data-tab="six">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">参数类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="f1_hide">
														        <div class="text" id="f1"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Air Quality</div>
																        <div class="item">Lighting</div>
																        <div class="item">Environment</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">供应商</a>
														  <input type="text" placeholder="请填写" id="f2">
													</div>
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_6">保存</div>
									</div>
									
									<div class="ui tab segment" data-tab="seven">
											<div class="b-list">
													<div class="ui labeled input">
														  <a class="ui label">记录类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g1_hide">
														        <div class="text" id="g1"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">meter reading</div>
																        <div class="item">certification</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">计量水平</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g2_hide">
														        <div class="text" id="g2"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Site</div>
																        <div class="item">building</div>
																        <div class="item">sub-meter reading</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">监测期</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g3_hide">
														        <div class="text" id="g3"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">annual</div>
																        <div class="item">monthly</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">监测开始日期</a>
														  <input type="text" placeholder="请填写" id="g4">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">监测结束日期</a>
														  <input type="text" placeholder="请填写" id="g5">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">燃料类型1</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g6_hide">
														        <div class="text" id="g6"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">electricity</div>
																        <div class="item">gas</div>
																        <div class="item">renewables</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">燃料1型机组</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g7_hide">
														        <div class="text" id="g7"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">kWh/yr</div>
																        <div class="item">kWh/m2/yr</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">燃料类型1消耗</a>
														  <input type="text" placeholder="请填写" id="g8">
													</div>
													<div class="ui labeled input">
														  <a class="ui label">最终使用的类型</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g9_hide">
														        <div class="text" id="g9"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">heating</div>
																        <div class="item">lighting</div>
																        <div class="item">cooling</div>
														        </div>
													      </div>
													</div>
													<div class="ui labeled input">
														  <a class="ui label">BMS</a>
														  <div class="ui selection dropdown">
														        <input type="hidden" id="g10_hide">
														        <div class="text" id="g10"></div>
														        <i class="dropdown icon" style="border:none"></i>
														        <div class="menu">
														          		<div class="item">Yes</div>
																        <div class="item">No</div>
														        </div>
													      </div>
													</div>
											</div>
											<div class="clearfix"></div>
											<div class="ui teal label huge part-result-ok" id="submit_sheet_7">保存</div>
									</div>
							
			                	</div>
		                	</div>
		                	<!-- 右侧三维模型 -->
		                	<div class="five wide column mainright">
		                		<div class="building-slider">
			                		<div class="ui label huge label-2">建筑三维模型</div>
			                		<div id="" class="slider-3d"></div>
			                	</div>
			                	<br />
			                	<div class="building-slider">
			                		<a class="ui teal label huge part-result-ok" id="buildTempOut" style="width:100%;text-align:center;">导出建筑信息</a>
			                	</div>
		                	</div>
	                	</div>	
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- room & ele add -->
<div class="ui modal" id="roomContent">
  <i class="close icon"></i>
  <div class="header" id='r_0'></div>
  <div class="ui form" style="padding:20px;">
  	<div class="fields">
	    <div class="five wide field">
	      <label id='r_1'></label>
	      <input type="text" id='r_1_v'>
	    </div>
	    <div class="five wide field">
	      <label id='r_2'></label>
	      <input type="text" id='r_2_v'>
	    </div>
	    <div class="five wide field">
	      <label id='r_3'></label>
	      <input type="text" id='r_3_v'>
	    </div>
	    <input type="hidden" id="rid">
	    <input type="hidden" id="rtype">
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button" style="margin-left:0;padding-left:0!important;padding-right:0!important;" id="subRoom">提交</div>
  </div>
</div>

<div class="ui modal" id="delRoomOk">
  <i class="close icon"></i>
  <div class="header">
  		  修改
  </div>

  <div class="actions">
    <div id="removeRoom" class="ui positive right labeled icon button" style="width:100px!important;padding-left:0!important;padding-right:0!important;">删除</div>
  </div>
</div>

<script src="/public/static/manage/js/team/teamCommon.js"></script>
<script src="/public/static/manage/js/team/teamBuildingTop.js"></script>
</body>
</html>